﻿.hero-about{
  background: $white url('../images/banner-about.jpg') no-repeat right center;
  background-size: cover;
  h2{
    color: $blue;
  }
}
/* group link*/
.about-group-link{
  display: block;
  ul{
    display: flex;
    border-bottom: 1px solid $gray-700;
    li{
      width: 25%;
      padding: 0 1.5rem 0 0;

      a{
        padding: 1.5rem 0;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        color: rgba(23,43,75,0.3);
        text-transform: uppercase;
        position: relative;
      }
      &.active{
        a{
          &:after{
            position: absolute;
            bottom: 0;
            left: 0;
            content:'';
            z-index: 1;
            height: 5px;
            width: 100%;
            background-color: #2e3092;
          }
        }
      }
    }
  }
}
/* about - NN*/
.about-nhatnhat{
  padding: 5rem 0;
  .title-section{
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 4rem;
    max-width: 38rem;
  }
}
.intro-nn{
  padding-left: 18rem;
  width: 100%;
  display: flex;
  margin-left: -2rem;
  margin-right: -2rem;
}
.intro-col{
  width: 50%;
  padding: 0 2rem;
  > div{
    padding-top: 4rem;
    height: 100%;
    position: relative;
    text-align: justify;
  }
  &:first-child{
    > div{
      &:before{
        position: absolute;
        top: 0;
        left: 0;
        content:'';
        z-index: 1;
        height: 1px;
        width: 16rem;
        background-color: $gray-700;
      }
    }

  }

}

/* cam ket voi khach hang*/
.commitment-cust{
  background-color: #f8f8f8;
  padding: 9rem 0;
  .title-section{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5rem;
  }

}
.ul-commit{
  display: flex;
  > li{
    width: 33.33%;
    padding: 0 1rem;
    max-width: 30rem;
    margin: 0 auto;
    p{
      margin: 0;
      text-align: center;
    }
  }
}
.img-commit{
  text-align: center;
  margin-bottom: 1rem;
  img{
    width: 10rem;
    margin: 0 auto;
  }
}
/* Su menh*/
.sumenh-nhatnhat{
  padding: 5rem 0;
  .title-section{
    font-size: 3rem;
    margin-bottom: 2rem;
  }
}
.sm-ct{
  display: flex;
  flex-direction: row-reverse;
}
.sm-first{
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 40rem;
  background-position: center center;
  width: 100%;
  flex-shrink: 1;
}
.sm-second{
  width: 43rem;
  flex-shrink: 0;
  padding-right: 5rem;
  display: flex;
  align-items: center;
}
.sm-in{
  width: 100%;
}
.ul-sm{
  > li{
    position: relative;
    padding-left: 2.2rem;
    position: relative;
    width: 100%;
    margin-bottom: 1.5rem;
    &:before{
      width: 6px;
      height: 6px;
      border-radius: 50%;
      content: '';
      position: absolute;
      top: 8px;
      left: 0;
      background-color: $blue;
    }
    &:nth-child(2){
      &:before{
        background-color: $orange;
      }
    }
    &:nth-child(3){
      &:before{
        background-color: $hight-light;
      }
    }
  }
}
/* tam nhin*/
.tamnhin-section{
  padding: 10rem 0;

  > .container{
    position: relative;
  }
  .title-section{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -0.75px;
    color: #ffffff;
  }
}
.vision-ct{
  background: $blue url('../images/tamnhin.jpg') no-repeat center center;
  border-radius: 16px;
  color: $white;
  width: 100%;
  overflow: hidden;
  background-size: cover;
}
.vision-right{
  width: 50%;
  float: right;
  padding: 10rem 10rem 10rem 0;
}
.img-vn{
  position: absolute;
  top:0;
  left: 0;
  z-index: 1;
  width: 40%;
  max-width: 36rem;
  transform: translateY(-18%);
}
/**/
.trietly-section{
  padding: 5rem 0;
  margin-bottom: 0;
  .title-section{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
  }
}
.ul-trietly{
  display: flex;
  justify-content: space-between;
  > li{
    width: 265px;
    height: 265px;
    box-shadow: 0 31px 34px 0 rgba(0, 0, 0, 0.12);
    border: solid 10px #ffffff;
    background-color: #2e3192;
    padding: 9rem 1rem 1rem 1rem;
    color: $white;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
    &:nth-child(2){
      background-color: $orange;
    }
    &:nth-child(3){
      background-color: #2f4056;
    }
  }
}
/**/
.core-section{
  margin-bottom: 0;
  padding: 6rem 0;
  background: #f8f8f8 url('../images/value.png') no-repeat right bottom;
  background-size: 56%;
  .title-section{
    font-size: 30px;
    font-weight: bold;
  }
}
.core-left{
  width: 40%;
  max-width: 50rem;
}
.ul-value{
  > li{
    padding-right: 10rem;
    margin-bottom: 2rem;
    .li-in{
      border-radius: 20px;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.09);
      background-color: #ffffff;
      height: 100%;
      padding: 2.5rem 3rem;
      p{
        margin-bottom: 5px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    &:nth-child(2n){
      padding-right: 0rem;
      padding-left: 10rem;
      .li-in{

      }
    }
  }
}
@media screen and (max-width: 1200px){

}

@include media-breakpoint-down(md) {
  .hero-about{
    .hero-ct{
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  .commitment-cust,.about-group-link,.about-nhatnhat,.sumenh-nhatnhat,.tamnhin-section,.trietly-section,.core-section{
    margin-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  /**/
  .sumenh-nhatnhat{
    padding: 3rem 1rem;
    margin-bottom: 0;
  }
  .sm-second{
    width: 38rem;
  }
  /**/
  .tamnhin-section{
    padding: 5rem 1rem 3rem;
  }
  .vision-right{
    padding: 3rem 5rem 3rem 0;
  }
  /**/
  .ul-trietly {
    > li{
      width: 23rem;
      height: 23rem;
      padding-top: 5rem;
    }
  }
  /**/
  .core-left{
    width: 60%;
    max-width: inherit;
  }
}
@include media-breakpoint-down(sm) {
  .about-nhatnhat{
    margin-top: -2rem;
    padding: 3rem 1rem;
    .title-section{
      margin-bottom: 2rem;
    }
  }
  .intro-nn{
    padding-left: 0;
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
  .intro-col{
    width: 100%;
    padding: 0;
    > div{
      padding-top: 2rem;
    }
  }
  /**/
  .commitment-cust{
    padding: 4rem 1rem;
    .title-section{
      margin-bottom: 3rem;
    }
  }
  .ul-commit{
    display: block;
    > li{
      width: 100%;
      padding: 0;
      max-width: 100%;
      margin-bottom: 3rem;
    }
  }
  /**/
  .sumenh-nhatnhat{
    padding-top:0;
    overflow: hidden;
  }
  .sm-first{
    margin-left: -2rem;
    margin-right: -2rem;
    width: auto;
  }
  .sm-ct{
    display: block;
  }
  /**/
  .vision-right{
    width: 100%;
    padding-top: 5rem;
    padding-left: 12rem;
  }
  .vision-ct{
    margin-left: -2rem;
    margin-right: -2rem;
    width: auto;
  }
  .img-vn{
    left: -1rem;
  }
  /**/
  .ul-trietly{
    display: block;
     > li{
       width: 26.5rem;
       height: 26.5rem;
       padding-top: 9rem;
       margin: 0 auto 3rem;
     }
  }
  /**/
  .core-section{
    padding: 3rem 1rem;
    .title-section{
      margin-bottom: 3rem;
    }
  }
  .core-left{
    width: 100%;
  }
  .ul-value{
    > li{
      padding-right: 0;
      &:nth-child(2n){
        padding-left: 0;
      }
    }
  }
  /**/
  .about-group-link {
    display: block;
    ul {
      margin-left: -1rem;
      margin-right: -1rem;
      width: auto;
      li {
        padding-left: 1rem;
        padding-right: 0;
        &:first-child{
          padding-left: 2rem;
        }
        a{
          padding-top: 0;
          padding-bottom: 1rem;
          height: 100%;
          display: flex;
          font-size: 1.2rem;
        }
      }
    }
  }

}
