.main-cart{
  display: block;
  position: relative;
  text-align: center;
  margin-bottom: 2px;
  .badge{
    height: 1.4rem;
    min-width: 1.4rem;
    padding: 3px;
    background: $red;
    color: $white;
    border-radius: 7px;
    position: absolute;
    top: -2px;
    right: 2px;
    z-index: 1;
    font-size: 9px;
  }
}
.dropdown-menu{
  padding: 2rem 0 2rem 2rem;
  border-radius: 8px;
  background: $white;
}
.dropdown-cart{
  .dropdown-menu{
    transform: none!important;
    left: auto!important;
    right: 0;
    top: 5.8rem!important;

    //border-color: $gray-700;
  }
}
.quick-cart-ct{
  position: relative;
  padding-bottom: 4rem;
  background: $white;
  overflow: hidden;
  .qty-quick-cart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.ul-cart{
  width: 50.8rem;
  padding-right: 2rem!important;
  height: 41rem;
  overflow-y: auto;
  position: relative;
  outline: none;
  li{
    width: 100%;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0 0 2rem;
    justify-content: space-between;
    border-bottom: 1px solid $gray-700;
    &:last-child{
      &.promotion-cart-item{
        .right-qc{
          border-bottom: none;
        }
      }
    }
    .old-price{
      margin-bottom: 0;
    }
    &.promotion-cart-item{
      padding: 2rem 0 0 0;
      margin-bottom: 0;
      border-bottom: none;
    }
    &.item-gift{
      padding-left: 13rem;
      display: flex;
      align-items: center;
      margin-bottom: 0;
      .img{
        flex-shrink: 0;
        width: 64px;
        padding: 8px;
        border: 1px solid #ff7474;
        border-radius: 4px;
        position: relative;
        margin-bottom: 0;
        .ic-gif{
          position: absolute;
          width: 16px;
          top: -8px;
          left: -8px;
          z-index: 1;
        }
        .img-prod{
          width: 100%;
        }
      }
      .info-gift{
        padding-left: 1rem;
        width: 100%;
        flex-shrink: 1;
        h3{
          margin-bottom: 2px;
          font-size: 1.4rem;
        }
        p{
          font-size: 1.3rem;
        }
      }
    }
  }
}

.img-product-qc{
  flex-shrink: 0;
  width: 12rem;
  padding-right: 2rem;
  > img{
    width: 100%;
    margin-bottom: 2rem;
  }
}
.right-qc{
  flex-shrink: 1;
  width: 100%;
  display: flex;
  padding-bottom: 2rem;
  //border-bottom: 1px solid $gray-700;
}
.qty-quick-cart{
  flex-shrink: 0;
  width: 14.6rem;
  .dec-button,.inc-button{
    width: 3.2rem;
    height: 3.2rem;
    background: $white;
    font-size: 18px;
    font-weight: 400;
  }
  .inline-add-cart {
    .form-control{
      font-size: 14px;
      font-weight: 400;
      height: 3.2rem;
      //border-top: 1px solid $gray-700;
      //border-bottom: 1px solid $gray-700;
    }
  }
  .btn{
    display: none;
    color: $hight-light;
  }
}
.product-cart{
  flex-shrink: 1;
  width: 100%;
  padding: 0 2.5rem 0 0;
  .product-cart-in{
    max-width: 17rem;
  }
  .title{
    margin-bottom: 1rem;
  }
  .lead{
    margin-bottom: 1rem;
  }
  .btn-text{
    color: $hight-light;
  }
}
.cta-cart{
  position: absolute;
  padding:0 2rem 0 0 ;
  width: 100%;
  bottom: 0;
  left: 0;
  .btn{
    width: 100%;
  }
}
/**/
.intro-gift{
  display: flex;
  background: #f3f3f3;
  border-radius: 4px;
  min-height: 5.6rem;
  margin-bottom: 7px;
  justify-content: space-between;
  .left-intro-gift{
    flex-shrink: 1;
    width: 100%;
    padding: 8px 8px 8px 35px;
    background: url('../images/gift@2x.png') no-repeat 9px center;
    background-size: 16px;
  }
  .btn-cart{
    border-radius: 0 4px 4px 0;
    width: 64px;
    background: $orange;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    img{
      width: 1.9rem;
    }
  }
}
.text-link{
  color: $impress-blue;
}
.product-cart .btn-text{
  color: $impress-blue;
}
.cart-list .product-cart-in{
  max-width: 100% !important;
}
.before-payment-form{
  h4{
    font-size: 14px;
    font-weight: bold;
    color: $blue;
    margin-bottom: 2rem;
  }
}
.voucher-list,.gift-list{
  padding-left: 2.7rem;
  display: block;
  background: url('../images/voucher@2x.png') no-repeat 0 5px;
  background-size: 1.6rem;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid $gray-700;
  padding-bottom: 1.5rem;
}
.gift-list{
  background: url('../images/gift@2x.png') no-repeat 0 0;
  background-size: 1.6rem;
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
  .ul-voucher-list{
    margin-bottom: 1.5rem;
  }
}
.error-message{
  color: #ff0000;
  font-size: 1.3rem;
  .ul-voucher-list{

    margin-bottom: 3rem;
  }
}
.ul-voucher-list{
  > li{
    display: block;
    margin-bottom: 5px;
    opacity: 0.9;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: normal;
    color: #2e4057;
    position: relative;
    padding-right: 3.5rem;
    .cta-voucher-gift-list{
      position: absolute;
      width: 1.6rem;
      top: 0;
      right: 0;
    }
  }
}
/* =========================== RESPONSIVE =========================== */
@include media-breakpoint-down(md) {
  .dropdown-cart {
    .dropdown-menu{
      top: 4.7rem!important;
      right: -2rem!important;
    }
  }
}
@include media-breakpoint-down(sm) {
  .main-cart {
    .badge{
      right: -1rem;
    }
  }
  .dropdown-cart {
    .dropdown-menu{
      //width: 30rem!important;
      top: 3.6rem!important;
    }
  }
  .ul-cart{
    width: 28rem;
  }
  .img-product-qc{
    width: 8rem;
  }
  .right-qc{
    display: block;
    width: 100%;
    position: relative;
    padding-right: 3rem;
  }
  .qty-quick-cart{
    .btn{
      display: block;
      position: absolute;
      top: -3px;
      right: -3px;
      cursor: pointer;
    }
    .inline-add-cart{
      margin-bottom: 0;
    }
  }
  .product-cart {
    padding-right: 0;
    .title{
      margin-bottom: 0.7rem;
      font-size: 1.6rem;
    }
    .product-cart-in{
      max-width: 100%;
      .btn{
        //display: none;
        margin-bottom: 1rem;
      }
    }
  }
  .quick-cart-ct{
    position: relative;
    padding-bottom: 4rem;
    background: $white;
    overflow: hidden;
    .qty-quick-cart{
      display: block;
    }
  }
  .ul-cart {
    li {
      &.item-gift {
        padding-left: 8rem !important;
      }
    }
  }
  .dropdown-menu {
       padding: 10px;
  }
  .cta-cart{
    padding: 0;
    a {
      font-size: 14px;
    }
  }
}
