﻿/**/
.hero-dashboard{
  padding: 0 2rem;
  margin-bottom: 2rem;
  //margin-top: 2rem;
  padding-top: 200px;
  @media screen and (max-width: 991px){
    margin-top: 0rem;
  }
}
.hero-item{
  width: 100%;
  border-radius: 8px;
  background-size: cover;
  background-position: center center;
  display: inline-flex!important;
  align-items: center;
  min-height: 60rem;
  position: relative;
  &:before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: 1;
    background-image: linear-gradient(54deg, #eeeeee 23%, rgba(216, 216, 216, 0) 72%);
  }
}
.content-item{
  flex-shrink: 0;
  width: 45rem;
  max-width: 100%;
  padding: 4rem;
  z-index: 2;
}
.cate-item{
  text-transform: uppercase;
  color: rgba(46,64,87, 0.4);
  font-weight: bold;
}
.title-item{

  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.11;
  letter-spacing: -1.13px;
  margin: 0 0 1rem;
  a{
    color: $blue;
    &:hover{
      color: $orange;
    }
  }
}
.hero-item .title-item a {
  color: $white;
  text-shadow: 1px 1px 2px $black, 0 0 25px darkblue, 0 0 5px darkblue;
}
.lead-item{
  margin: 0 0 2rem;
}
.link-view-more{
  display: flex;
  align-items: center;
  color: $impress-blue;
  > img{
    margin-left: 5px;
  }
}
.product-info{
  width: 50%;
  padding: 1rem 0 1rem 3rem;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: column;
  align-items: center;

}
.inner-product-info{
  text-align: left;
  .lead-product{
    a{
      color: $white;
    }
  }
}
.item-dark-style{
  .inner-product-info{
    text-align: left;
    .lead-product{
      a{
        color: $blue;
      }
    }
  }
}
.title-product{
  margin: 0 0 5px;
}
.price-product{
  font-weight: bold;
  font-size: 2.9rem;
}
.product-img{
  width: 50%;
  padding: 0 1rem;
  display: flex;
  ms-flex: 1 0 0;
  align-items: center;
  > img{
    width: 100%;
  }
}

.item-right-hero{
  min-height: 290px;
  overflow: hidden;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    height: 290px;
  }
  width: 100%;
  margin-bottom: 2rem;
  background-size: cover;
  background-position: center center;
  border-radius: 8px;
  display: flex;
  ms-flex: 1 0 0;
  color: $white;
  //cursor: pointer;

  &:last-child{
    margin-bottom: 0;
  }
  &.item-dark-style{
    color: $blue;
    flex-direction: row-reverse;
    .product-info{
      padding: 1rem 1rem 1rem 3rem;
    }
    .product-img{
      padding-left: 3rem;
      padding-right: 0;
    }
  }
}

/* Question */
.question-section{
  height: 12.7rem;
  display: flex;
  align-items: center;
  background:$hight-light url('../images/question.svg') no-repeat left center;
  > .container{

  }
}
.suggest-question{
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-question{
  color: $white;
  > h3{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 1.1;
  }
  > p{
    margin-bottom: 0;
  }
}
.suggest-button{
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-hero{
  position: relative;
  height: 100%;
  .slick-list{
    height: 100%;
    .slick-track{
      height: 100%;
      .slick-slide{
        height: 100%;
        > div{
          height: 100%;
          .hero-item{
            height: 100%;
          }
        }
      }
    }
  }
}
.body-section{

}
/* HOT PRODUCTS */
.hot-products{
  padding-top: 2rem;
  .heading-section{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    border-bottom: none;
  }
}
.item-product{
  .product-money{
    font-size: 1.8rem;
    font-weight: bold;
    color: $dusk-blue;
    text-align: left;
    margin-bottom: 1rem;
    span{
      font-size: 1.4rem;
    }
  }
}
.ul-hot-products{
  width: 100%;
  .hide-desktop{
    display: block;
  }
  .hide-mobile{
    //display: none;
  }
  .wrap-item-product{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .item-product{
    //height: 100%;
    width: 25%;
    padding: 0 1.5rem;
    margin-bottom: 4rem;
    .inner-hot-product{
      padding-bottom: 4rem;
      position: relative;
      .price{
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    .title{
      margin-bottom: 1rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 1.6rem;
    }
    .lead{
      margin-bottom: 1rem;
      height: 4.8rem;
      overflow: hidden;
    }
    .price{
      margin-bottom: 0  ;
    }
  }
}
.cta-item-product{
  display: flex;
  justify-content: space-between;
  .btn-default{
    margin-right: 1rem;
    width: 6.7rem;
    padding-left: 5px;
    padding-right: 5px;
    img{
      width: 3rem;
    }
  }
  .btn-orange-outline{
    flex-shrink: 1;
    width: 100%;
  }
}
.heading-section{
  margin-bottom: 1.5rem;
  .lead{
    margin-bottom: 0;
  }
}
.heading-left{
  padding: 0rem 1.5rem;
  text-align: center;
  //border-bottom: 1px solid $gray-700;
}
.heading-right{
  display: flex;
  align-items: flex-end;
}
.overlay-item-product{
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  background: rgba(0,0,0,0.25);
  align-items: center;
  justify-content: center;

  .cta-product{
    width: 100%;
    padding: 0 1.5rem;
    a{
      width: 100%;
    }
  }
}
.new-overlay-product{
  width: 12rem;
}
.inner-hot-product{
  display: block;
  height: 100%;
  position: relative;
}

.img-product{
  width: 100%;
  height: 20rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  max-width: 100%;
  position: relative;
  display: flex;
  img{
    margin: 0 auto;
    position: static;
    max-width: 100%;
    max-height: 100%;
    transition: transform ease-in-out 0.3s;
  }
  &:hover{
    img{
     //transform: scale(1.07);
   }
  }
  .outer-img{
    max-width: 100%;
    max-height: 100%;
    margin: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }


}
.inner-hot-product{
  &:hover{
    .img-product{
      .overlay-item-product{
        display: flex;
        border-radius: 4px;
      }
    }
  }

}
.icon-zoom{
  width: 1.8rem;
}
.icon-eye{
  width: 2.2rem;
}
.price{
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  font-size: 2rem;
  color: $white;
  background: $hight-light;
  border-radius: 4px;
  font-weight: 500;
  span{
    //font-size: 1.5rem;
  }
}

.visual-cta{
  display: flex;
  margin: 0 auto 2rem;
  width: 100%;
  height: 34px;
  border-radius: 17.1px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  .left-visual-cta, .right-visual-cta{
    width: 50%;
    padding: 1rem 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    a{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: $white;
      > i{
        font-size: 2rem;
      }
      > span{
        display: block;
        margin-top: 1rem;
      }
    }
  }
  .right-visual-cta{
    position: relative;
    &:after{
      position: absolute;
      left: 1px;
      height: 100%;
      width: 1px;
      top: 0;
      background-color: $dusk-blue;
      content: '';
    }
  }
}
.add-to-cart{
  margin: 0 auto 1.5rem;
  width: auto;
  border-radius: 17.1px;
  //box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
}
.inline-add-cart{
  display: flex;
  border: 1px solid #e9e9e9;
  border-radius: 1.71rem;
  max-width: 200px;
  background-color: #ffffff;
  margin: 1.5rem auto;
  .dec-button{
    border-right:1px solid  #f4f4f4;
  }
  .inc-button{
    border-left:1px solid  #f4f4f4;
  }
  .form-control{
    flex-shrink: 1;
    width: 53%;
    font-size: 1.7rem;
    color: $blue;
    border: none;
    text-align: center;
    border-radius: 0;
    height: 3.4rem;
    padding: 0;
  }
}
.p-add-cart{
  .btn{
    font-weight: 400;
    width: 100%;
    display: block;

    > i{
      display: inline-block;
      margin-right: 5px;
    }
  }
}
.dec-button,.inc-button{
  height: 3.4rem;
  width: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 3rem;
  line-height: 1;
  border: none;
  cursor: pointer;
  &:focus{
    outline: none;
  }
}
.dec-button{
  border-radius: 1.71rem 0 0 1.71rem;
}
.inc-button{
  border-radius: 0 1.71rem 1.71rem 0;
}

/* THUOC THEO NHOM BENH */
.drug-by-cate, .handle-pathology{
  background: #f8f8f8;
  padding: 6rem 0;
}
.slider-drug-cate{
  width: 100%;
}
.item-drug-cate{
  width: 100%;
}
.half-drug-cate{
  display: flex;
  min-height: 25.2rem;
  margin-bottom: 2rem;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    height: 25.2rem ;
  }
  &.revert{
    flex-direction: row-reverse;
    .big-drug-cate{
      margin-left: 1.5rem;
      margin-right: 0;
    }
    .small-drug-cate{
      margin-right: 1.5rem;
      margin-left: 0;
    }
  }
}
.big-drug-cate,.small-drug-cate{
  border-radius: 8px;
  background-size: auto 100%;
  background-position: top right;
  background-color: $white;
  background-repeat: no-repeat;
  padding: 3rem;
  flex-shrink: 1;
  display: flex;
  align-items: flex-end;
  &:hover{
    .cta-drug-cate{
      .btn{
        display: flex;
      }

    }
  }
}

.big-drug-cate{
  width: 60%;
  margin-right: 1.5rem;
}
.small-drug-cate{
  width: 40%;
  margin-left: 1.5rem;
  .cta-drug-cate{
    color: $white;
  }
}
.cta-drug-cate{
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  font-weight: bold;
  transition: all ease-in-out 0.3s;
  > span{
    margin-bottom: 2rem;
    display: block;
  }
  .btn{
    display: none;
  }
}

/* De Tot cho suc khoe */
.be-good{
  margin-top: -2rem;
  margin-bottom: 0;
  width: 100%;
  min-height: 348px;
  background: url('../images/example/debanluonkhoe.jpg') no-repeat;
  background-size: cover;
  padding: 17rem 0;
}

.be-good-ct{
  display: flex;
}
.hot-topic{
  color: $white;
  border-radius: 8px;
  padding: 3.5rem;
  width: 33.33%;
  background: $dusk-blue;
  opacity: 0.8;
  h3{
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  .link-view-more{
    color: $white;
    > img{
      width: 1.4rem;
      height: 1rem;
    }
  }
}
.ul-hot-topic{
  margin-bottom: 2rem;
  > li{
    padding: 1.8rem 0;
    display: block;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    a{
      color: $white;
      &:hover{
        color: $orange;
      }
    }
  }
}
.question-topic{
  width: 67.666%;
  display: flex;
  margin-left: 3rem;
  .title-item{
    font-size: 2rem;
  }
}
.interactive-with{
  width: 58%;
  //height: 100%;
  min-height: 348px;
  background: #f9f9f9 url('../images/be.png') no-repeat right center;
  background-size: auto 100%;
  border-radius: 8px ;
  padding: 3.3rem 3.5rem 3.5rem;
}
.top-question{
  width: 100%;
}
.wrap-private-question{
  padding-left: 3rem;
  width: 42%;
  height: 100%;
  min-height: 348px;
}
.private-question{
  border-radius: 8px;
  background: #f9f9f9;
  height: 100%;
  > div{
    padding: 3rem 4rem;
  }
  //background:#f9f9f9 url('../images/top-question.png') no-repeat top center;
  //background-size: 100% auto;
}
.interactive-ct{
  max-width: 24rem;
  .cate-item{
    margin-bottom: 4rem;
  }
}

/* So tay benh hoc */
.handle-pathology{
  .heading-section{
    .lead{
      margin-bottom: 4rem;
    }
  }
}
.sider-pathology{
  margin: 0 -1.5rem;
  display: flex;
  flex-wrap: wrap;
  .item-slider{
    width: 33.33%;
    transform: perspective(1px) translateZ ease-out (0) 0.3s;
  }
}
.item-slider{
  padding: 0 1.5rem;
  //display: inline-flex;
  margin-bottom: 3rem;
  .item-inner{
    width: 100%;
    background: $white;
    padding-bottom: 5rem;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.05);
  }
}
.item-img{
  display: block;
  width: 100%;
  height: 20rem;
  border-radius: 8px 8px 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.ct-item{
  padding: 2rem 2.5rem;
  .title-item{
    font-size: 1.8rem;
    height: 3.8rem;
    overflow: hidden;
    a{
      color: $blue;
      &:hover{
        color: $orange;
      }
    }
  }
  .lead{
    height: 7.8rem;
    overflow: hidden;
  }
}

.date{
  color: rgba(46,64,87,0.4);
  margin-bottom: 1rem;
}
.share-social{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(151,151,151,0.2);
  width: 100%;

  a{
    color: #6b7888;
    display: inline-flex;
    align-items: center;
    &:hover{
      color: $orange;
    }
  }
}
/* why */
.why-section{
  padding: 3rem 0;
}
.ul-why{
  display: flex;
  flex-wrap: wrap;
  border: solid 1px rgba(151, 151, 151, 0.28);
  border-bottom: none;
  border-radius: 8px;
  > li{
    display: inline-flex;
    align-items: center;
    width: 33.33%;
    padding: 2rem 2.5rem;
    border-right: solid 1px rgba(151, 151, 151, 0.28);
    border-bottom: solid 1px rgba(151, 151, 151, 0.28);
    justify-content: center;
    > div{
      text-align: center;
    }
    &:nth-child(3n){
      border-right: 0;
    }
    &:nth-child(3n+1){
      border-radius: 8px 0 0 0;
    }
    &:nth-child(6){
      border-radius: 0 0 8px 0;
    }
    h3{
      font-size: 2rem;
    }
    p{
      margin-bottom: 0;
    }
    &.why-heading{
      background: #f8f8f8;
      > div{
        text-align: left;
      }
    }
    &:hover, &:focus{
      background: #f8f8f8;
    }

  }
}
.lead-why{
  max-width: 14rem;
  margin: 0 auto;
  font-weight: 500;
}
.icon-why{
  margin-bottom: 1rem;
}
.flex-item{
  display: flex;
  flex-direction: column;
}


.timmach-bg{
  //background-image: url('../images/tim@3x.png');
}
.tieuhoa-bg{
  background-color: $blue;
  //background-image: url('../images/ruot@3x.png')
}
.xuong-bg{
  background-color: #ffeaea;
  //background-image: url('../images/xuong@3x.png')
}
.rang-bg{
  background-color: #78cdd7;
  //background-image: url('../images/rang@3x.png')
}


.show-mobile{
  display: none;
}
.cta-quick-view{
  .inline-add-cart{
    button{
      background-color: $white;
    }
    .btn-white-outline{
      width: 7.5rem;
    }
    .btn-default{
      width: 100%;
      flex-shrink: 1;
    }
  }

}
/* add to cart */

div.floating-cart{
  position:absolute;
  top:0;
  right:0;
  width:26rem;
  height:26rem;
  //background: #f3f4f5;
  z-index:200;
  padding: 2rem;
  border-radius: 8px;
  overflow:hidden;
  //box-shadow:0px 5px 31px -1px rgba(0, 0, 0, 0.15);
  display:none;
  &.floating-cart-quick-view{
    width: 50rem;
    height: 36rem;
  }
  &.floating-cart-detail{
    width: 21rem;
    height: auto;
  }
  @media screen and (max-width: 991px){
    width:18rem;
    height:18rem;
    &.floating-cart-quick-view{
      width: 36rem;
      height: 26rem;
    }
    &.floating-cart-detail{
      width: 21rem;
      height: auto;
    }
  }
  @media screen and (max-width: 767px){
    &.floating-cart-quick-view{
      width: 30rem;
      height: 20rem;
      left: 50%;
    }
    &.floating-cart-detail{
      width: 12rem;
      height: 5rem;
    }
  }
}

div.floating-cart.moveToCart{
  left: calc(100% - 410px) !important;
  top: 1.5rem !important;
  width: 20px;
  height: 20px;
  -webkit-transition: all 800ms ease-in-out;
  -moz-transition: all 800ms ease-in-out;
  -ms-transition: all 800ms ease-in-out;
  -o-transition: all 800ms ease-in-out;
  transition: all 800ms ease-in-out;
  &.floating-cart-quick-view{
    width: 20px;
    height: 20px;
  }
}
.modal-out-of-stock {
  .btn-modal-add-cart{
    pointer-events: none;
  }
}







@media (min-width: 1600px){
  .breadcrumb-section{
    .container{
      max-width: 1170px;
    }
  }
}
@media screen and (max-width: 1200px){
  .content-item{
    padding: 2rem;
  }
  .product-info{
    padding-left: 2rem;
  }
  .item-right-hero.item-dark-style {
    .product-info{
      padding-left: 1.5rem;
    }
    .product-img{
      padding-left: 2rem;
    }

  }
  .price-product{
    font-size: 2rem;
  }
  .question-section{
    background-position: -20% center;
  }
  .inner-question > h3{
    font-size: 2.4rem;
  }

  .ul-hot-products {
    .item-product{
      //width: 33.33%;
    }
  }
  .cta-item-product {
    .btn-default {
      min-width: 4rem;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@include media-breakpoint-down(md) {
  .slider-hero{
    margin-bottom: 2rem;
  }
  .hero-item{
    min-height: 40rem;
  }
  .title-item{
    font-size: 3rem;
  }
  .lead-item{
    margin-bottom: 1rem;
  }


  .item-right-hero{
    min-height: 0;
    margin-bottom: 0;
    margin-right: 0.6rem;
    .product-info{}
    .product-img{
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    &.item-dark-style{
      margin-left: 0.6rem;
      margin-right: 0;
      flex-direction: row;
      .product-img{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
    }
  }
  .flex-item{
    flex-direction: row;
  }
  .question-section{
    background-position: -45% center;
  }
  .big-drug-cate, .small-drug-cate{
    width: 50%;
  }

  .half-drug-cate{
    min-height: 18.6rem;
  }
  .drug-by-cate{
    padding: 3rem 1rem;
  }
  .big-drug-cate, .small-drug-cate{
    padding: 1rem;

  }
  .big-drug-cate{
    margin-right: 1rem;
  }
  .small-drug-cate{
    margin-left: 1rem;
  }
  .cta-drug-cate {
    > span{
      margin-bottom: 0;
    }

    .btn{
      margin-top: 1rem;
    }
  }
  .hot-products{
    padding: 2rem 1rem 0;
  }
  .ul-hot-products {

    .wrap-item-product{
      width: 100%;
    }
    .item-product{
      padding: 0 1rem;
    }
  }
  .slider-hot-product{
    width: 100%;
    overflow: hidden;
  }
  .be-good{
    padding: 4rem 1rem;
  }
  .be-good-ct{
    flex-direction: column;
  }
  .hot-topic{
    width: 100%;
    margin-bottom: 2rem;
  }
  .question-topic{
    width: 100%;
    margin-left: 0;
    .interactive-with{
      border-radius: 8px;
      margin-right: 0rem;
    }
    .private-question{
      border-radius: 8px;

    }
  }
  .interactive-ct .cate-item{
    margin-bottom: 2rem;
  }
  .handle-pathology{
    padding: 3rem 1rem;
    .heading-section .lead{
      margin-bottom: 2rem;
    }
    .slick-slide{
      max-width: 35rem;
    }
    .item-slider{
      padding: 0 1rem;
    }
    .slick-list{
      padding-left: 0.5rem;
      margin-right: -2rem;
      width: auto;
      display: block;
      .item-slider .item-inner{
        box-shadow: none;
      }
    }
  }
  .slider-hero{
    margin-bottom: 1.2rem;
  }
  .hero-dashboard{
    padding :0;
    padding-top: 200px;
    overflow-x: hidden;
  }
  .item-right-hero{
    border-radius: 0;
  }
  .hero-item{
    border-radius: 0;
    border-radius: 0;
  }

  .ul-hot-products {
    .wrap-item-product{
      display: inline-flex!important;
    }
    &.slider-center-dot .slick-dots{
      bottom: 1rem;
    }
  }
  .inner-hot-product {
    &:hover{

    }
  }
  .hot-topic{
    background: transparent;
    padding: 0;
  }
  .ul-hot-topic{
    display: flex;
    flex-wrap: wrap;
    > li{
      width: 50%;
      padding: 0;
      border-bottom: none;
      &:nth-child(2n+1){
        padding-right: 1rem;
      }
      &:nth-child(2n){
        padding-right: 1rem;
      }
      a{
        padding: 1.8rem 1rem 1.8rem 0;
        display: block;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      }
    }
  }
  .why-section{
    padding: 3rem 1rem;
  }
  .support-f{
    .contact-info{
      display: none;
    }
    &.support-tablet{
      .contact-info{
        display: block;
      }
    }
  }
  .handle-pathology{
    overflow: hidden;
  }
  .sider-pathology{

    margin-right: -1.5rem;
    .slick-list{
      overflow: hidden;
      margin-right: -2rem;
    }
  }
  .about-f,.support-f{
    text-align: left;
  }
  .timmach-bg{
    background-image: url('../images/icon-tim@3x.png');
  }
  .tieuhoa-bg{
    background-color: $blue;
    background-image: url('../images/icon-ruot@3x.png')
  }
  .xuong-bg{
    background-color: #ffeaea;
    background-image: url('../images/icon-xuong@3x.png')
  }
  .rang-bg{
    background-color: #78cdd7;
    background-image: url('../images/icon-rang@3x.png')
  }

}
@include media-breakpoint-down(sm) {
  .cta-quick-view {
    display: block;
    text-align: right;
  }
  .inline-add-cart{
    margin: 0;
  }
  .cta-quick-view .btn-default {
    width: auto;
  }
  .up-header {
    .left-up-header{
      padding-left: 2rem;
    }
  }
  .slider-hero{
    margin-bottom: 1rem;
  }
  .hero-dashboard{
    padding: 0;
    padding-top: 165px;
    margin-bottom: 0;
  }

  .title-item{
    font-size: 2.4rem;
  }
  .content-item{
    padding: 2rem;
    max-width: 70%;
  }
  .right-hero{
    .flex-item{
      display: block;
    }
  }
  .lead-product{
    margin-bottom: 3px;
  }
  .item-right-hero{
    //margin: 0 0 1rem;
    border-radius: 0;
    padding: 0;
    & img {
      //height: 200px;
    }
    &.item-dark-style {
      margin: 0;
      flex-direction: row-reverse;
      .product-img{
        padding: 1.5rem 1rem 1rem 2rem;
      }
      .product-info{
        padding-left: 1rem;
      }
    }
  }
  .question-section{
    background: #16b5d2;
    height: auto;
    padding: 2rem 1rem;
  }
  .suggest-question{
    margin-bottom: 2rem;
  }
  .hot-products{
    padding: 0 1rem;
    .link-view-more{
      display: none;
    }
  }
  .ul-hot-products {
    width: auto;
    overflow: hidden;
    .wrap-item-product{
      display: block!important;
    }
    .item-product{
      padding: 0 1rem;
      width: 100%;
      margin-bottom: 1.5rem;
      //&:nth-child(2n+1){
      //  padding-right: 5px;
      //}
      //&:nth-child(2n){
      //  padding-left: 5px;
      //}
      .title{
        overflow: visible;
        white-space: normal;
        height: 3.4rem;
        text-overflow: inherit;
      }
    }
    &.slider-center-dot .slick-dots{
      bottom: 0;
    }
  }

  .half-drug-cate.revert {
    .big-drug-cate{
      margin-left: 1rem;
    }
    .small-drug-cate{
      margin-right: 1rem;
    }
  }

  .question-topic{
    flex-direction: column;
  }
  .interactive-with{
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 8px;
    padding: 2rem;
    background: $white;
    .interactive-ct{
      max-width: 100%;
      .cta-s{
        .btn{
          width: 100%;
        }
      }
    }
  }
  .private-question{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 0;
    width: 100%;
    padding: 3rem 2rem;
    border-radius: 8px;
    background:$white ;
    > div{
      padding: 0;
    }
  }
  .wrap-private-question{
    width: 100%;
    padding-left: 0;
  }

  .handle-pathology {
    .slick-slide{
      max-width: 24rem;
    }
    .slick-list{
      margin-right: -0.5rem;
    }
  }

  .why-section{
    padding: 2rem 0rem 0;
    > .container{
      padding: 0;
    }
  }
  .ul-why{
    border: none;
    > li{
      padding: 2rem;
      width: 50%;
      &.why-heading{
        width: 100%;
        background: none;
        border: none;
        padding-top: 0;
        border-bottom: solid 1px rgba(151, 151, 151, 0.28);
        > p{
          margin-bottom: 0;
        }
      }
      &:last-child{
        border: none;
        text-align: center;
        width: 100%;
      }
    }
  }

  .suggest-button{
    .btn{
      width: 100%;
    }
  }
  .big-drug-cate, .small-drug-cate{
    background-size: 60% auto;
  }

  .ul-hot-topic {
    margin: 0 0 4rem;
    >li{
      width: 100%;
    }
  }
  .top-question{
    display: none;
  }

  /* add to cart */
  div.floating-cart{
    position:absolute;
    top:0;
    left:0;
    width: 80%;
    height:20rem;
    background: #f3f4f5;
    z-index:200;
    padding: 2rem;
    border-radius: 8px;
    overflow:hidden;
    box-shadow:0px 5px 31px -1px rgba(0, 0, 0, 0.15);
    display:none;
  }

  div.floating-cart.moveToCart{
    left: calc(100% - 65px)!important;
    top: 6.5rem!important;
    width: 20px;
    height: 20px;
    -webkit-transition: all 800ms ease-in-out;
    -moz-transition: all 800ms ease-in-out;
    -ms-transition: all 800ms ease-in-out;
    -o-transition: all 800ms ease-in-out;
    transition: all 800ms ease-in-out;
  }

  .add-to-cart{
    background: none;
  }

  .price {
    span {
      font-size: inherit;
    }
  }

  //.img-product {
  //  margin-bottom: 0;
  //}

  //.item-right-hero {
  //  max-height: 200px;
  //}
}
