﻿/**/
.hero-hr{
  background: #f3f4f5;
  margin-bottom: 0;
  h2{
    color: $blue;
    flex-shrink: 0;
    padding-right: 3rem;
  }
  .lead{
    color: $blue;
  }
}
.hr-section{
  background-color: $white;
  padding: 5rem 0;
  .panigation-nn{
    padding-bottom: 0;
  }
}
.ul-hr-list{
  margin-left: -1.5rem;
  margn-right: -1.5rem;
  display: flex;
  flex-wrap: wrap;

  > li{
    width: 33.33%;
    padding: 0 1.5rem;
    margin-bottom: 3rem;
    text-align: center;
    .hr-in{
      padding: 2rem 2rem 1rem;
      width: 100%;
      height: 100%;
      background-color: $white;
      border-radius: 8px;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.09);
    }
  }
  .view-more{
    a{
      color: #16b5d2;
    }
  }
  .title{
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    color: $blue;
  }
  .description{
    margin-bottom: 2rem;
    > img{
      display: inline-block;
      margin-right: 5px;
    }
  }
  .view-more{
    text-align: center;
    a{
      display: inline-block;
      margin: 0 auto;
    }
  }
}
.hr-detail-section{
  background-color: #f8f8f8;
  margin-bottom: 0;
}
.job-info{
  .group-info-product{
    padding-bottom: 0;
    border: 0;
    margin-bottom: 4rem;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
.group-info-product{
  .ul{
    > li{
      position: relative;
      padding-left: 2rem;
      &:before{
        width: 2px;
        height: 2px;
        border-radius: 50%;
        content: '';
        position: absolute;
        top: 8px;
        left: 0;
        background-color: $blue;
      }
    }
  }
}
.icon-job{
  text-align: center;
  margin-bottom: 2rem;
}
.deadline{
  width: auto;
  margin: 0 auto 2rem;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  background-color: #eee;
  color: #2f2f47;
  text-align: center;
}
@include media-breakpoint-down(md) {
  .hr-section,.hr-detail-section{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .ul-hr-list {
    margin-left: -1rem;
    margn-right: -1rem;
    > li{
      width: 50%;
      margin-bottom: 2.5rem;
    }
  }
  .hr-detail-section{
    padding-left: 1rem!important;
    padding-right: 1rem!important;;
  }
  .job-info{
    &:last-child{
      margin-bottom: 0;
    }
    .group-info-product{
      margin-bottom: 2rem;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

/* detail */
.hr-detail-section{
  padding: 5rem 0;
  .title-section{
    margin-bottom: 3rem;
  }
}
.job-info{
  margin-bottom: 3rem;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 3rem 2.5rem;
  .title{
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
    text-transform: uppercase;
  }
}
@include media-breakpoint-down(sm) {
  .ul-hr-list {
    margin-left: 0;
    margn-right: 0;
    > li{
      width: 100%;
    }
  }
  .hero-hr{
    .hero-ct{
      display: block;
      height: auto;
      padding: 3rem 1rem 2rem;
    }
    h2{
      color: $blue;
      display: block;
      padding-right: 3rem;
    }
    .lead{
      color: $blue;
    }
  }
}
