.tab-reg{
  border-bottom: 1px solid rgba(151,151,151, 0.4);
  margin-bottom: 3.3rem;
  .list-social-reg{
    display: flex;
    border-bottom: 0;
    padding-bottom: 3.3rem;
    position: relative;
    margin: 0 -1rem;
    &:after{
      content: 'hoặc';
      position: absolute;
      bottom: 0;
      left: 50%;
      background: $white;
      padding: 0 3px;
      height: 1.8rem;
      transform: translate(-50%, 50%);
    }
  }
}
.reg-item{
  display: inline-block;
  border-bottom: none;
  width: 33.33%;
  padding: 0 1rem;
}
.modal-reg{
  .reg-item {
    width: 50%;
  }
}

.nav-reg-by-fb, .nav-reg-by-g, .nav-reg-by-sms, .nav-reg-by-pass{
  padding: 0 1.5rem;
  color: $blue;
  height: 4rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  //margin-right: 2rem;
  border-color: rgba(151,151,151, 0.4);
  background: $white;
  font-weight: 400;
  width: 100%;
  padding: 0 1rem;
  > .icon{
    display: inline-block;
    margin-right: 1rem;
  }
  &:hover,&:focus{
    color: $blue;
    border-color: rgba(151,151,151, 0.4);
    background: $white;
  }
}
.nav-reg-by-sms{
  border-color: $green;
  background-color: $green;
  color: $white;
  &:hover,&:focus{
    color: $white;
    border-color: $green;
    background:$green;
  }
}
.nav-reg-by-pass{
  border-color: #16b5d2;
  background-color: #16b5d2;
  color: $white;
  &:hover,&:focus{
    color: $white;
    border-color: #16b5d2;
    background:#16b5d2;
  }

}
.btn-code{
  width: 100%;
}
.nav-reg-by-fb{
  color: $white;
  background: #4568b2;
  border-color: #4568b2;
  &:hover,&:focus{
    color: $white;
    border-color: #4568b2;
    background: #4568b2;
  }
}
.note-reg{
  padding: 1rem 1.5rem;
  border-radius: 4px;
  background: #f4f4f4;
  font-weight: 400;
}
.main-ct-form{
  padding: 0 0 4rem;
}
.link-login{
  text-align: center;
  margin-bottom: 2rem;
  .btn{
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
  }
}
.other-link-login{
  .btn{
    color: #1667d2;
  }
}
.reg-form{
  .frm-cta{
    .btn{
      width: 100%;
    }
  }
}
.other-way-sms{
  float: right;
}
.modal-completed{
  .modal-content{
    text-align: center;
  }
  .modal-header{
    padding-top: 6rem;
    justify-content: center;
  }
  .frm-cta{
    .btn{
      width: 100%;
    }
  }

}
.txt-success{
  margin: 2rem auto 4rem;
  max-width: 49rem;
}

.slideToUnlock{
  width: 100%;
  height: 4rem;
  box-shadow: inset 0 1px 10px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #e7e7e7;
  background-color: #f4f4f4;
  padding: 4px;
  border-radius: 4px;
  .text{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(46,64,87,0.5);
  }
  .drag{
    width: 13.6rem;
    background: $orange url('../images/slider-btn.svg') no-repeat center center;
    background-size: cover;
    border: none;
    border-radius: 2px;
    height: 3rem;
    margin-left: 4px!important;
    line-height: 3rem;
    &.unlocked_handle{
      margin-left: -14rem!important;
    }
  }
}
.input-sms-code{
  width: 100%;
  position: relative;
  height: 4rem;
  border: 1px solid rgba(151, 151, 151, 0.4);
  color: #2e4057;
  font-weight: 600;
  border-radius: 4px;
  padding: 3px 14rem 3px 4px;
  .form-control{
    border: none;
    border-radius: 0;
    height: 3rem;
    padding: 0 1rem;
  }
  .btn{
    position: absolute;
    top: 3px;
    right: 3px;
    width: auto;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    padding: 0 1.5rem;
    background: #d8d8d8;
    border-radius: 2px;
  }
}

/* =========================== RESPONSIVE =========================== */
@include media-breakpoint-down(md) {

}
@include media-breakpoint-down(sm) {
  .slideToUnlock {
    .locked_handle,.unlocked_handle{
      width: 8rem;
    }
    .unlocked_handle{
      right: 4px;
      left: auto!important;
    }
  }

}
