﻿.my-account-section{
  margin-bottom: 0;
  background-color: $gray-500;
  .div-cta{
    .btn{
      min-width: 22rem;
    }
  }
}
.left-nav-my-account{
  .ul-manager{
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    > li{
      padding-left: 4.2rem;
      position: relative;
      background-position: top left;
      background-size: 3.2rem 3.2rem;
      background-repeat: no-repeat;
      min-height: 3.2rem;
      padding-top: 5px;
      a{
        transition: all ease-in-out 0.3s;
      }

      &.t4{
        background-image: url("../images/icon-account.svg");
        &.active,&:hover{
          background-image: url("../images/icon-account-active.svg");
        }
      }
      &.donhang{
        background-image: url("../images/icon-donhang.svg");
        &.active,&:hover{
          background-image: url("../images/icon-donhang-active.svg");
        }
      }
      &.yba{
        background-image: url("../images/icon-yba.svg");
        &.active,&:hover{
          background-image: url("../images/icon-yba-active.svg");
        }
      }
      &.yeuthich{
        background-image: url("../images/icon-like.svg");
        &.active,&:hover{
          background-image: url("../images/icon-like-active.svg");
        }
      }
      &.cauhoi{
        background-image: url("../images/icon-my-question.svg");
        &.active,&:hover{
          background-image: url("../images/icon-my-question-active.svg");
        }
      }
      &.sodiachi{
        background-image: url("../images/icon-address.svg");
        &.active,&:hover{
          background-image: url("../images/icon-address-active.svg");
        }
      }
      &.uudai{
        background-image: url("../images/icon-gift.svg");
        &.active,&:hover{
          background-image: url("../images/icon-gift-active.svg");
        }
      }
      &.thongbao{
        background-image: url("../images/icon-notification.svg");
        &.active,&:hover{
          background-image: url("../images/icon-notification-active.svg");
        }
      }

      &:hover{
        a{
          color: $blue;
        }
      }
      &.active{
        a{
          color: $blue;
          font-weight: bold;
        }
      }
    }
  }
}
.left-nav-mc-bar{
  min-height: 3.6rem;
  padding-left: 4.6rem;
  background: url('../images/icon-my-account.svg') no-repeat left top;
  color: #2e3092;
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}
.disable-text{
  color: rgba(46,64,87,0.5);
}
.row-frm{
  display: flex;
}
.title-frm-my-account{
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 4.5rem;
  display: flex;
  align-items: center;
  height: 2rem;
  > img{
    display: inline-block;
    margin-right: 8px;
    margin-top: -2px;
  }
}
.frm-my-account{
  background-color: $white;
  border-radius: 8px;
  padding: 0 6rem;
  .form-group{
    display: flex;
    > label{
      display: flex;
      align-items: center;
      height: 4rem;
      flex-shrink: 0;
      width: 17rem;
    }
  }
  .div-cta{
    padding-bottom: 5rem;
    .btn{
      width: 22rem;
    }
  }
}
.mc-group{
  padding: 5rem 0;
  border-bottom: 1px solid rgba(151,151,151,0.3);
  .form-group{
    &:last-child{
      margin-bottom: 0;
    }
  }
  &:nth-child(2){
    border-bottom: none;
  }
}
.right-line-mc{
  align-items: center;
  width: 100%;
  flex-shrink: 1;
  .in-one{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .date{
    margin-bottom: 0;
  }
}
.my-order{
  padding: 1rem 3rem;
  background: $white;
  border-radius: 8px;
}
.hightlight{
  color: $hight-light;
}
/**/
.top-order-detail{
  padding: 0 0 1.5rem;
  border-bottom: 1px solid $gray-700;
  margin-bottom: 2rem;
}
.roll-back{
  margin-right: 2rem;
  color: #1667d2;
  display: inline-block;
  span{
    margin-left: 5px;
    display: inline-block;
  }
}
.order-name{
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
}
.order-detail-info{
  display: flex;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
.info-item{
  width: 50%;
  padding: 0 1.5rem;
  &:nth-child(2){
    .info-item-body-left{
      width: 11.5rem;
    }
  }
  .info-item-in{
    height: 100%;
    position: relative;
    padding-top: 3rem;
  }
  h4{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0rem;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
.label-mc{
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.info-item-body{
  height: 100%;
  background: $white;
  border-radius: 8px;
  padding: 2rem;
}
.info-item-row{
  margin-bottom: 1.5rem;
  display: flex;
  .info-item-body-left{
    flex-shrink: 0;
    width: 17rem;
    padding-right: 1.5rem;
  }
  .info-item-body-right{
    font-weight: 600;
    letter-spacing: -0.44px;
  }
  &:last-child{
    margin-bottom: 0;
  }
}
.mc-wrap-tbl{
  margin: 3rem 0 0;
  > h4{
    margin-bottom: 1.5rem;
  }
}
.mc-tbl-detail{
  background: $white;
  border-radius: 8px;
  padding:1rem 2rem;
}
.mc-tbl-order{


}
.mc-th{
  border-bottom: 1px solid $gray-700;
  height: 5rem;
  padding: 6px 3rem 6px 0;
  font-size: 14px;
  color: $blue;
  &:last-child{
    padding-right: 0;
  }
}
.mc-td{
  border-bottom: 1px solid $gray-700;
  height: 5rem;
  padding: 6px 3rem 6px 0;
  font-size: 14px;
  color: $blue;
  &:last-child{
    padding-right: 0;
  }
}
.link-product{
  font-weight: bold;
  color: $blue;
  &:hover{
    color: $hight-light;
  }
}
.td-tt{
  padding: 15px 0 15px 15px;
  color: #2e3092;
}
.code-style{
  color: #ff8686; text-transform: uppercase; font-weight: bold;
}
.payment-total{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  .payment-row{
    display: flex;
    max-width: 100%;
    width: 32rem;
    border-bottom: 1px solid $gray-700;
    padding: 1rem 0;
    justify-content: space-between;
    &:last-child{
      border-bottom: none;
    }
  }
}
.left-payment{

}
.right-payment{
  &.flex-bottom{
    align-items: flex-end;
  }
}
/* Voucher - Sale */
.ul-voucher{
  > li{
    margin-bottom: 2rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid $gray-700;
    .hide-desktop{
      display: none;
    }
    .wrap-up-voucher{
      display: flex;
      width: 100%;
      margin-bottom: 5px;
    }
    &:last-child{
      margin-bottom: 0px;
      border-bottom: none;
    }
    .left-voucher{
      margin-right: 2.5rem;
    }
  }
}
.right-voucher{
  h3{
    font-size: 1.6rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
}
.time-apply{
  display: flex;
  width: 100%;
  justify-content: space-between;
  a{
    margin-left: 2rem;
  }
}
.impress-label{
  font-size: 1.6rem;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  margin-bottom: 1px;
  width: 100%;
  text-align: center;
  color: #172b4b;
  opacity: 0.3;
}
.value-voucher{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 23.7px;
  font-weight: bold;
  color: #172b4b;
  width: 100%;
  margin-top: -3px;
  text-align: center;
  margin-bottom: 1px;
}
.code-voucher{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 19px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2.7rem;
  padding: 0 1rem;
  background: $blue;
}
.my-voucher-nav{
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
  .link-view-more{
    margin-right: 3rem;
    img{
      margin-right: 5px;
    }
  }
  .title{
    font-size: 2rem;
    font-weight: bold;
  }
}
.ul-notification{
  .left-voucher{
    width: 11rem;
    flex-shrink: 0;
  }
  .time-apply{
    a{
      margin-left: 0;
    }
  }
}
/**/
.relative-div{
  position: relative;
}
.edit-email{
  width: 1.6rem;
  height: 1.7rem;
  position: absolute;
  top: 0.9rem;
  right: 1.1rem;
  z-index: 1;
  cursor: pointer;
  img{
    width: 100%;
  }
}
.modal-confirmtel{
  .frm-cta{
    margin-top: 3rem;
    display: flex;
    .btn{
      width: 50%;
    }
  }
  .modal-content{
    text-align: center;
    padding: 4rem 5rem;
  }
}
.close-modal{
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  cursor: pointer;
}
/* Bai viet ua thich */
.my-account-liked-list{
  background: #f8f8f8;
  margin-bottom: 0;
  padding-top: 0;
  .mc-history-order{
    background: #fff;
    padding: 2.6rem 3rem;
    margin-top: 5rem;
  }
  .left-nav-my-account{
    padding-top: 5rem;
  }
  .ul-relate > li .img{
    max-width: 25rem;
  }
}
.header-liked{
  padding: 0 0 2.5rem;
  border-bottom: 1px solid $gray-700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5rem;
  .select-control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 28.5rem;
    > span{
      flex-shrink: 0;
      width: 9.5rem;
      display: inline-block;
      margin-right: 1rem;
      color: rgba(46,64,87,0.5);
    }
    .form-control{
      min-widht: 19rem;
    }

  }
  .date{
    opacity: 0.5;
    font-size: 13px;
    line-height: 1.85;
    letter-spacing: normal;
    color: #2e4057;
  }
}
.btn-remove{
  color: #2e3092;
  font-size: 13px;
  img{
    width: 1.4rem;
    display: inline-block;
    margin-right: 5px;
  }
}
.group-editable{
  .icon-edit{
    display: none;
  }
  .icon-check{
    display: block;
  }
  &.disabled-input{
    .icon-check{
      display: none;
    }
    .icon-edit{
      display: block;
    }
  }
}
@include media-breakpoint-down(md) {
  .frm-my-account {
    padding: 0 2rem;
    .form-group{
      display: block;
      width: 100%;
      > label{
        width: 100%;
        height: auto;
      }
    }
  }
  .mc-group{
    padding: 2.5rem 0;
  }
  .title-frm-my-account{
    margin-bottom: 1.5rem;
  }
  .right-line-mc {
    .in-one{
      height: auto;
    }
    .type-address{
      margin-bottom: 0;
    }
  }

  .left-nav-my-account {
    .ul-manager {
    > li{
      display: inline-flex;
      flex-wrap: wrap;
      width: 45%;
      padding-right: 5%;
    }
    }
  }

}
@include media-breakpoint-down(sm) {
  .my-account-section{
    padding-top: 2rem;
  }
  .frm-my-account {
    .div-cta {
      .btn{
        width: 100%;
      }
    }
  }
  .left-nav-my-account {
    margin-top: 3rem;
    .ul-manager {
      > li{
        display: block;
        width: 100%;
        padding-right: 0;
      }
    }
  }
  .info-item-body{
    margin-left: -2rem;
    margin-right: -2rem;
    border-radius: 0;
  }
  .order-detail-info{
    display: block;
    margin-left: 0;
    margin-right: 0;
    .info-item{
      width: 100%;
      padding: 0;
      margin-bottom: 3rem;
    }
  }
  .mc-tbl-detail{
    margin-left: -2rem;
    margin-right: -2rem;
    border-radius: 0;
  }
  .payment-total {
    .payment-row{
      width: 100%;
    }
  }

  .ul-voucher {
    > li {
      .hide-desktop{
        display: block;
      }
      .right-voucher{
        > h3{
          margin-bottom: 0;
        }
      }
      .wrap-up-voucher {
        align-items: center;
        margin-bottom: 1rem;
        .hide-mobile{
          display: none;
        }
      }
    }
  }
  .my-voucher-nav{
    display: block;
    padding-bottom: 2rem;
    .title{
      display: block;
      margin-top: 5px;
    }
  }
  /* my account bai viet ua thich */
  .my-account-liked-list {
    background: $white;
    .mc-history-order{
      padding: 0;
      margin-top: 2rem;

    }
  }
  .header-liked{
    display: block;
    .title{
      margin-bottom: 1rem;
    }
  }

}
