﻿.pharmacy-search-section{
  padding: 6rem 0 4rem;
  .title-section{
    font-size: 3.6rem;
  }
  .lead-section{
    max-width: 54rem;
    margin-bottom: 5rem;
  }
}
.frm-search-pharmacy{
  margin-bottom: 3rem;
  display: flex;

  .select-control{
    width: 16rem;
    margin-right: 1rem;
  }
  .input-search-desktop{
    position: relative;
    width: 44.5rem;
    margin-right: 1rem;
    .form-control{
      width: 100%;
      padding-left: 1.5rem;
    }
  }
  .btn-search {
    border: none;
    width: 2rem;
    background: transparent;
    height: 2rem;
    margin: 0 1.2rem;
    top: 47%;
    right: 0;
    padding: 0;
    transform: translateY(-50%);
    position: absolute;
  }
}
/* he thong cua hang */
.pharmacy-list-section{
  background: #f8f8f8;
  padding: 6rem 0;
  margin-bottom: 0;
  .title-section{
    margin-bottom: 4rem;
  }
}
.ul-pharmacy-list{
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  display: flex;
  flex-wrap: wrap;
  > li{
    margin-bottom: 4rem;
    width: 33.33%;
    padding: 4rem 1.5rem 0;
    position: relative;
    .province{
      position: absolute;
      top:0;
      left: 1.5rem;
      font-size: 1.6rem;
      text-transform: uppercase;
    }
  }
  .img{
    > img{
      width: 100%;
    }
  }
  .view-more{

  }
}
.ul-pharmacy-p{
  height: 100%;
  border-radius: 4px;
  background-color: $white;
  padding: 2rem;
  > li{
    padding: 0rem 0 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $gray-700;
    &:nth-child(2){
      padding-bottom: 0;
      border-bottom: none ;
    }
    &:last-child{
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none ;
    }
    .img{
      flex-shrink: 0;
      width: 7.6rem;
      margin-left: 5px;
      > img{
        width: 100%;
        border-radius: 3px;
      }
    }
    p{
      margin-bottom: 3px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}
.info-pharma{
  h4{
    font-weight: bold;
    font-size: 1.4rem;
    margin: 0 0 5px;

  }
  .address{
    min-height: 4.2rem;
  }
}
/* list by province */
.list-by-province{
  margin-top: 5rem;
  padding: 5rem 0;
  border-top: 1px solid $gray-700;
}
.name-province{
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 3rem;
}
.list-store{
  display: flex;
  justify-content: space-between;
}
.name-stores{
  width: 35%;
  padding-right: 3rem;
}
.name-store{
  width: 100%;
  .group-radio{
    label{
      font-weight: bold;
    }
  }
  .detail-store{
    margin-bottom: 0;
  }
}
.detail-store{
  padding: 0 0 2rem 2.5rem;
  margin-bottom: 2rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  .img{
    flex-shrink: 0;
    width: 7.6rem;
    margin-left: 5px;
  }
}
.map-store{
  width: 62%;
}
@media screen and (max-width: 1200px){

}

@include media-breakpoint-down(md) {
  .pharmacy-search-section{
    padding: 4rem 1rem;
    .container{

    }
  }
  .pharmacy-list-section{
    padding: 4rem 1rem;
  }
  .ul-pharmacy-list {
    margin-left: -1rem;
    margin-right: -1rem;
    > li{
      padding-left: 1rem;
      padding-right: 1rem;
      width: 50%;
    }
  }
  .list-by-province{
    padding-top: 3rem;
    padding-bottom: 0rem;
  }
  .name-stores{
    width: 45%;
    padding-right: 3rem;
  }
  .map-store{
    width: 55%;
  }

}
@include media-breakpoint-down(sm) {
  .pharmacy-search-section{
    padding-bottom: 2rem;
    .lead-section{
      margin-bottom: 3rem;
    }
    .title-section{
      font-size: 3rem;
    }
  }
  .frm-search-pharmacy{
    margin-bottom: 3rem;
    display: block;
    .select-control{
      width: 100%;
      margin-right: 0;
      margin-bottom: 1.5rem;
    }
    .input-search-desktop{
      width: 100%;

      margin-right: 0;
      margin-bottom: 1.5rem;
      .form-control{
        width: 100%;
        padding-left: 1.5rem;
      }
    }
    .btn-search {
      border: none;
      background: transparent;
      width: 2rem;
      height: 2rem;
      margin: 0 1.2rem;
      top: 47%;
      right: 0;
      padding: 0;
      transform: translateY(-50%);
      position: absolute;
    }
    .btn-default{
      width: 100%;
    }
  }

  .pharmacy-list-section{
    padding: 4rem 1rem 0;
    .title-section{
      margin-bottom: 2rem;
    }
  }
  .ul-pharmacy-list {
    margin-left: 0rem;
    margin-right: 0rem;
    > li{
      padding-left: 0rem;
      padding-right: 0rem;
      width: 100%;
      .province{
        left: 0;
      }
    }
  }
  .list-by-province{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .list-store{
    display: block;
    width: 100%;
  }
  .name-stores{
    width: 100%;
    padding-right: 0;
  }
  .map-store{
    width: 100%;
  }

}
