﻿.blue-banner{
  background: $hight-light;
  padding-top: 182px;
}
@include media-breakpoint-down(sm) {
  .blue-banner{
    padding-top: 165px;
  }
}
.index-steps-section{

}
.ul-steps-order{
  margin-bottom: 5rem;
  > li{
    width: 100%;
    padding-left: 7.7rem;
    position: relative;
    padding-bottom: 5rem;
    &:before{
      width: 2px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 2.1rem;
      bottom: 0;
      background-image: linear-gradient(rgba(151,151,151,0.8) 33%, rgba(255,255,255,1) 0%);
      background-position: right;
      background-size: 2px 7px;
      background-repeat: repeat-y;
      content: '';
      z-index: 1;
    }
    &:last-child{
      padding-bottom: 0;
    }
    .index-guide{
      width: 4.4rem;
      height: 4.4rem;
      position: absolute;
      border-radius: 50%;
      background: $hight-light;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      font-weight: bold;
      color: $white;
      z-index: 2;
    }
    &:after{

    }
  }
  &.none-dot{
    > li{
      &:before{
        display: none;
      }
    }
  }

}
.illustrated-guide{
  display: flex;
  flex-direction: row;
  width: auto;
  min-width: 100%;
}
.item-img-guide{
  width: 33.33%;
  padding: 0 2rem 0 0;
  &.item-guide-double{
    width: 66.67%;
  }
  > img{
    margin-bottom: 1.5rem;
    width: 100%;
  }
  p{
    font-size: 1.6rem;
    margin: 0;
  }
}
.title-guide{
  margin: 0 0 2rem;
}
.lead-guide{
  margin: 0 0 3rem;

}
.list-default{
  margin-bottom: 5px;
  list-style-type: none;
  > li{
    margin-bottom: 5px;
    position: relative;
    padding-left: 2.5rem;
    &:before{
      content: '';
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background: $blue;
      position: absolute;
      top: 0.8rem;
      left: 0;
    }
  }
}
.note-guide{
  border-radius: 8px;
  padding: 2rem 3rem;
  background: $gray-500;
  p{
    margin-bottom: 5px;
  }
}
.no-padding-left{
  > li{
    padding-left: 0;
  }
}
@include media-breakpoint-down(md) {


}
@include media-breakpoint-down(sm) {
  .illustrated-guide{
    display: block;
    width: 100%;
  }
  .item-img-guide{
    width: 100%;
    margin-bottom: 2rem;
    img{
      border-radius: 4px;
    }
    p{
      font-size: 1.4rem;
    }
  }
  .ul-steps-order {
    margin-bottom: 0;
    > li{
      padding-bottom: 2rem;
      padding-left: 5rem;
      .index-guide{
        width:3.6rem;
        height: 3.6rem;
      }
    }
  }


}
