﻿/* Product list */
.breadcrumb-section{
  background: #efefef;
  margin-bottom: 0;
  padding-top: 183px;
  &.white-breadcrumb{
    background: $white;
    .breadcrumb-group a{
      color: $blue;
    }
  }
}
@include media-breakpoint-down(sm) {
  .breadcrumb-section{
    padding-top: 165px;
  }
}
.breadcrumb-group{
  width: 100%;
  padding: 2rem 0 1rem;
  overflow: hidden;
  display: list-item;
  a{
    float: left;
    display: inline-block;
    font-size: 1.4rem;
    color: rgba(46,64,87,0.6);
    &.first-link{}
    &.current-link{
      font-weight: bold;
    }
  }
  .sep{
    float: left;
    display: inline-block;
    padding: 0 8px;
    color: #7b8593;
    position: relative;
    line-height: 1;
    background: transparent;
    i{
      font-size: 6px;
    }
  }
}
/* hero banner */
.hero-banner{
  //background-image: linear-gradient(55deg, #ffaf25 19%, #ffff80 82%);
  //background-size: cover;
  //background-repeat: no-repeat;
  &.hero-product{
    //background-color: $dusk-blue;
    .hero-ct{
      background: none;
    }
  }
}
.hero-ct{
  display: flex;
  align-items: center;
  height: 25.6rem;

  h2{
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: -0.9px;
    color: $white;
  }
}

/* */
.accordion-cate{
  padding: 1rem 2rem;
  width: 100%;
  background: #f8f8f8;
  border-radius: 8px;
  .card{
    border-top: none;
    background: transparent;
    border-bottom: 1px solid rgba(151,151,151,0.2);
    &:last-child{
      border-bottom: 0;
    }
  }
  .card-header{
    background-color: transparent;
    h5{
      padding: 1rem 0;
      display: block;
      align-items: left;
      font-size: 1.6rem;
      color: $blue;
      .collapse-btn{
        cursor: pointer;
        font-weight: bold;
        padding: 0;
        text-align: left;
        transition: all ease-in-out 0.3s;
        &:hover{
          color: $impress-blue;
        }
      }
      .collapse-btn.active{
        color: $dusk-blue-full;
      }
    }
  }
  .card-body{
    padding: 0;
  }
}
.collapse-btn{
  border: none;
  background: none;
  width: 100%;
  &:focus{
    outline: none;
  }
}
.ul-sub-cate{
  > li{
    width: 100%;
    padding: 0.5rem 0 1rem;
    &.active{
      a{
        font-weight: bold;
        color: #2e3092;
      }
    }
    a{
      display: block;
      &:hover{
        color: $impress-blue;
      }
    }
  }
}
/* */
.list-cate-product{

}
.list-products{
  width: 100%;
  .heading-section{
    display: flex;
    justify-content: space-between;
  }
  .heading-left{
    padding: 0;
  }
  .select-control{
    min-width: 20.5rem;
    width: 100%;
  }
}
.products-list{
  display: flex;
  flex-wrap: wrap;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  .item-product{
    width: 33.33%;
    padding: 0 1.5rem;
    margin-bottom: 3rem;
    .inner-hot-product{
      width: 100%;
    }
    .lead{
      height: 4.8rem;
      overflow: hidden;
    }
  }
}
.list-categories{
  .label-cate{
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    margin-top: 1.8rem;
  }
}
/* modal fullscreen for left nav on mobile */
.list-open{
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  > img{
    display: inline-block;
    margin-right: 1rem;
  }
}
.modal-fullscreen{
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: $white;
  .modal-content{
    width: 100%;
    height: 100vh;
    padding: 0;
    .modal-header{
      height: 5.1rem;
      display: flex;
      justify-content: space-between;
      position: fixed;
      background-color: #f8f8f8;
      width: 100%;
      top: 0;
      left: 0;
      padding: 1.2rem 2rem;
      z-index: 1;
    }
    .modal-body{
      padding-top: 5.1rem;
      height: 100vh;
      width: 100%;
    }
  }
  .modal-title{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
.right-modal-header{}
.margin-b-0{
  margin-bottom: 0;
}
.hero-null{
  background: url('../images/hero-null.jpg') no-repeat right center;
  background-size: cover;
  @include media-breakpoint-down(sm) {
    background-position: left center;
  }
  .breadcrumb-group{
    a{
      color: rgba(255,255,255,0.5);
      &.current-link{
        color: rgba(255,255,255,1);
      }
    }
  }
}
.empty-box{
  padding: 14rem 2rem;
  display: block;
  text-align: center;
  p{
    color: $blue;
    opacity: 0.5;
  }
}
.empty-img{
  margin: 0 auto 2rem;
  width: 6.8rem;
}
.slide-hot-product-mobile{
  display: none;
}
.slide-hot-product-desktop{
  display: block;
}
.ul-hot-products-mobile{
  .wrap-item-product{
    display: flex;
  }
  .slick-dots{
    bottom: 1rem;
  }
}
@include media-breakpoint-down(md) {
  .hero-ct{
    padding: 0 0.5rem;
    height: 18rem;
    color: $white;
  }
  /**/
  .products-list {
    .item-product{
      width: 50%;
    }
  }
}
@include media-breakpoint-down(sm) {

}

/* list product by cate */
.list-products-by-cate{
  padding: 0 0 4rem;
  .heading-section{

  }
}

@include media-breakpoint-down(md) {
  .list-products-by-cate{
    padding: 2rem 1rem 4rem;
  }
}
@include media-breakpoint-down(sm) {
  .list-products-by-cate{
    padding: 2rem 0;
  }
  .left-nav{
    display: none;
  }
  .list-cate-product{
    overflow: hidden;
    padding: 0 1rem;
  }
  .products-list {
    margin: 0;
    .item-product{
      width: 100%;
      padding: 0;
    }
  }
  .accordion-cate{
    background: $white;
    padding: 1rem 0;
    .card-header,.card-body{
      padding: 0 2rem;
    }
  }
  .list-products{
    .heading-left{
      padding: 0;
      display: flex;
      align-items: center;
    }
    .heading-right{
      width: 100%;
    }
  }
  .slide-hot-product-desktop{
    display: none;
  }
  .slide-hot-product-mobile{
    display: block;
    .item-product{
      padding: 0 10px;
    }
  }
  .hot-products{
    padding: 0;
  }
}
