﻿.promotion-section{
  padding: 6rem 0 1rem;
  .share-detail{
    padding-right: 4rem;
    padding-left: 2.5rem;
  }
  .img-post{
    margin-bottom: 2rem;
  }
  .body-right-col{
    padding-left: 0;
  }
  .body-left-col{
    width: 35rem;
  }
}
.title-promotion{
  font-size: 3.6rem;
  margin-bottom: 3rem;
}
.ul-promotion{
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  display: flex;
  flex-wrap: wrap;
  > li{
    width: 33.33%;
    padding: 0 1.5rem;
    margin-bottom: 3rem;
    .img{
      border-radius: 8px;
      display: block;
      margin-bottom: 2rem;
      position: relative;
      > img{
        width: 100%;
      }

    }
    .title{
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 1rem;
    }
    .lead{
      ont-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      color: $blue;

    }
    .price-compare{
      .sale-price{
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: var(--dusk-blue);
      }

      .old-price{
        font-size: 1.4rem;
      }
    }
    .date{
      color: rgba(46,64,87,0.5);
      font-size: 1.4rem;
      margin-bottom: 1rem;
    }
    .lead{
      line-height: 1.57;
    }
  }
}
.tag-promotion{
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 8px;
  width: 5.9rem;
  height: 5.6rem;
  background: url('../images/rectangle.svg') no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;

}
.has-promotion{
  .lead{
    ont-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: $blue;

  }

  .date{
    color: rgba(46,64,87,0.5);
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  .lead{
    line-height: 1.57;
  }
}
.promotion-ct{
  background: #f3f3f3;
  padding: 1.2rem 1rem;
  border-radius: 4px;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  > p{
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.promotion-code,.promotion-gift{
  padding-left: 2.6rem;
  opacity: 0.9;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2e4057;


}
.promotion-code{
  background: url('../images/voucher@2x.png') no-repeat 0 2px;
  background-size: 1.6rem;
}
.promotion-gift{
  background: url('../images/gift@2x.png') no-repeat;
  background-size: 1.6rem;
}
.price-compare{
  //min-height: 3.6rem;
  display: flex;
  align-items: center;
  .sale-price{
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $dusk-blue;
    display: inline-block;
    margin-right: 1rem;
  }
  .old-price{
    font-size: 1.4rem;
  }
}
.img-product{
  position: relative;
}
.ul-relate-sidebar{
  > li{
    display: flex;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $gray-700;
    &:last-child{
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
    .img{
      width: 50%;
      margin-right: 2rem;
      flex-shrink: 0;

    }
    .title{
      margin: 0;
      width: 100%;
      flex-shrink: 1;
      font-weight: bold;
      text-transform: none;
    }
  }
}
.news-cta{
  background: #f8f8f8;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  a{
    color: rgba(46,64,87,0.5);
    &:hover{
      color: $orange;
    }
  }
}
.right-add-cart{
  position: relative;
  .old-price{
    text-align: center;
    font-size: 1.8rem;
  }
}
.right-side-header{
  padding: 2rem 0;
  border-bottom: 1px solid rgba(151,151,151,0.2);

  h2{
    padding: 0 2rem;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    span{
      font-size: 14px;
      font-weight: bold;
      display: inline-block;
      margin-left: 1rem;
    }
  }
}
.ul-promotion-sidebar{
  padding:2rem 2rem 0rem;
  max-height: 25rem;
  overflow-y: auto;
  > li{
    margin-bottom: 1rem;
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 1rem;
    text-align: left;
    padding-left: 1.5rem;
    position: relative;
    &:before{
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: $blue;
      position: absolute;
      content: '';
      left: 0;
      top: 8px;
    }
    &.has-img{
      &:before{
        display: none;
      }
      padding-left: 0;
      .img{
        width: 4.8rem;
        border-radius: 4px;
        margin-right: 10px;
        float: left;
        margin-bottom: 5px;
        img{
          width: 100%;
          border-radius: 4px;
        }
      }
      .title{
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #2e4057;
        margin-bottom: 5px;
      }
      .price{
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #2e4057;
        margin: 0;
        display: inline;
      }
    }
    a{
      display: block;
    }
  }
}
.right-promotion{
  .cta-product{
    padding: 0 2rem 2rem;
  }
}
.sale-price{
  span{
    font-size: 1.4rem;
    text-decoration: underline;
  }
}

.old-price{
  span{
    font-size: 1.2rem;
    text-decoration: underline;
  }
}
@media screen and (max-width: 1200px){

}

@include media-breakpoint-down(md) {
  .promotion-section{
    padding: 3rem 1rem 1rem;
    .body-two-col{
      padding-top: 0rem;
    }
    .body-left-col{
      width: 26rem;
    }
    .share-detail{
      padding-left: 1.5rem;
      padding-right: 2.5rem;
    }
  }
  .news-cta{
    padding: 1.5rem 2rem;
    margin-bottom: 2rem;
  }

}
@include media-breakpoint-down(sm) {
  .ul-promotion {
    margin-left: 0rem;
    margin-right: 0rem;
    display: block;
    > li {
      width: 100%;
      padding: 0;
      margin-bottom: 3rem;
    }
  }
  .promotion-section{
    .body-two-col {
      > .container{
        display: block;
        padding-left: 0;
        padding-right: 0;
      }
    }
    .body-left-col{
      width: 100%;
    }
    .share-detail{
      padding-right: 0;
    }
  }
  .ul-relate-sidebar {
    > li {
      .img{
        width: 38%;
      }
    }
  }

}
