#quickView{
  padding: 0 1.5rem;
  z-index: 10500000000;
  overflow-y: hidden;
  .modal-lg{
    max-width: 120rem;
    width: 100%;
  }
  .modal-content{
    padding: 6rem;
  }
}


/* =========================== RESPONSIVE =========================== */
@include media-breakpoint-down(md) {

}
@include media-breakpoint-down(sm) {
  #quickView{
    overflow-y: auto;
    .modal-content{
      padding: 2rem;
    }
    .modal-lg {
      left: 0;
    }
    .modal-dialog-centered::before {
      height: calc(100vh - (8rem * 2));
    }
  }
  .quick-view-ct{
    display: block;
  }
  .carousel-product{
    width: 100%;
    margin-bottom: 1rem;
  }
  .quick-info-product{
    width: 100%;
  }
}
