.order-login {
  .ul-cart{
    margin-bottom: 1.5rem;
  }
}
.order-payment{
  .ul-cart{
    margin-bottom: 1.5rem;
    li:last-child{
      border-bottom: none;
    }
    li.item-gift{
      padding-bottom: 2rem;
      padding-left: 10rem;
    }
  }

}
.right-qc{
  padding-bottom: 0;
}
.promotion-cart-item{
  .right-qc{
    padding-bottom: 2rem;
    border-bottom: 1px solid $gray-700;
  }
}
.ul-cart {
  li {
    margin-bottom: 0;
  }
}
.contact-to-order{
  width: 100%;
  background: transparent;
  color: #1667d2;
  font-size: 2rem;
  font-weight: 700;
  padding: 0;
  margin-bottom: 3rem;
}
.out-of-stock-status{
  width: 100%;
  background: transparent;
  color: #ff0000;
  font-size: 2rem;
  font-weight: 700;
  padding: 0;
  margin-bottom: 3rem;
}
.main-info-product .short-info{
  margin-bottom: 2.5rem;
}
.related-products .item-product .lbl-out-of-stock{padding: 0 2rem}
.related-products .item-product .lead{height: 4.8rem; overflow: hidden }
/* =========================== RESPONSIVE =========================== */
@include media-breakpoint-down(xl) {

}
@media screen and (max-width: 1200px){ // under 1200

}

@include media-breakpoint-down(md) {

}

@include media-breakpoint-down(sm) {

}
