.error-section{
  padding-top: 353px;
  padding-bottom: 18rem;
}
.img-error{
  display: flex;
  text-align: center;
  margin: 0 0 3rem;
  > img{
    max-width: 44rem;
    margin: 0 auto;
  }
}
.description-error{
  text-align: center;
  color: #6b7888;
  max-width: 70rem;
  margin: 0 auto 4rem;
}
.direct-link{
  text-align: center;
  margin: 0;
}
/* =========================== RESPONSIVE =========================== */
@include media-breakpoint-down(xl) {

}
@media screen and (max-width: 1200px){ // under 1200

}

@include media-breakpoint-down(md) {

}

@include media-breakpoint-down(sm) {

}
