.footer {
  background: #f4f4f4;
  padding: 7rem 0;
  margin-bottom: 0;
}
.up-f{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.8rem;
}
.logo-f{
  width:23.6rem;
}
.ul-social{
  > li{
    margin: 0 2px;
    display: inline-block;
    > a{
      display: inline-block;
      > img{
        width: 2.8rem;
        height: 2.8rem;
      }
    }
  }
}
.bottom-f{
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.8rem;
}
.customer-f{
  flex-shrink: 1;
}
.about-f{
  min-width: 17rem;
  flex-shrink: 0;
  text-align: right;
}
.support-f{
  min-width: 20rem;
  flex-shrink: 0;
  text-align: right;
}
.title-f{
  font-weight: bold;
  font-size: 1.6rem;
  color: #171738;
  margin-bottom: 1.6rem;
}
.map-f{
  max-width: 51.5rem;
}
.ul-footer{
  > li{
    display: block;
    margin-bottom: 0.5rem;
  }
  a{
    color: #2e4057;
    &:hover{
      color: $blue;
    }
    font-size: 16px;
  }
}
.hotline{
  font-size: 1.6rem;
  color: #2e4057;
  display: block;
  margin-top: -1rem;
  font-weight: 700;
}
.group-f{
  margin-bottom: 4rem;
  &:last-child{
    margin-bottom: 0;
  }
}
.email-support{
  color: #2e4057;
  display: block;
}
.visa-support{
  width: 16.8rem;
  margin: 1rem 0 0;
  text-align: right;
  float: right;
}

.copyright{
  border-top: 1px solid rgba(83,83,83,0.1);
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  color: #2e4057;
}
.cr-left{
  width: 70%;
  padding-right: 4rem;
  > p{
    margin-bottom: 5px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
.cr-right {
  text-align: right;
  width: 30%;
  display: flex;
  align-items: flex-end;
  > p {
    width: 100%;
    margin-bottom: 0;
  }
}
.support-tablet{
  display: none;
}
/* =========================== RESPONSIVE =========================== */
@include media-breakpoint-down(md) {
  .footer {
    padding: 4rem 1rem;
  }
  .logo-f{
    width: 15rem;
  }
  .customer-f{
    display: none;
  }

  .bottom-f{
    margin-bottom: 2.8rem;
    //display: block;
  }
  .group-f{
    margin-bottom: 0;
  }
  .visa-support{
    text-align: left;
    float: left;
  }
  .copyright{
    display: block;
  }
  .cr-left, .cr-right{
    width: 100%;
  }
  .cr-right{
    margin-top: 2rem;
  }
  .support-tablet{
    display: block;
  }
}
@include media-breakpoint-down(sm) {
  .footer{
    padding: 4rem 1rem;
  }
  .bottom-f{
    display: block;
  }

  .about-f{
    text-align: left;
    .contact-info{
      display: block;
      margin: 3rem 0 4rem;
      text-align: left;
      overflow: hidden;
    }
  }
  .support-f{
    text-align: left;
    .contact-info{
      display: none;
    }
  }
  .support-tablet{
    display: none;
  }
}
