.header{
  margin-bottom: 0;
}

.up-header{
  display: flex;
  min-height: 4.2rem;
  color: $white;
  background: $blue;
  justify-content: space-between;
  .left-up-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
    padding: 1.2rem;
  }
  .right-up-header{
    flex-shrink: 0;
    padding: 1.2rem 2rem 1.2rem 2rem;
    color: $white;
  }
}
.link-reg-login{
  > a{
    display: inline-block;
    color: $white;
  }
  > span{
    display: inline-block;
    margin: 0 1.2rem;
  }
}
.img-account{
  width: 2rem;
  height: 2rem;
  margin-left: 2rem;
  display: inline-block;
}

.bottom-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0!important;
  .left-b-header{
    //width: 70%;
  }
  .right-b-header{
    display: flex;
    justify-content: space-between;
    //width: 30%;
  }
}
.left-b-header{
  display: flex;
}
.logo{
  margin: 2.2rem 0 2.2rem 4rem;
  width: 18.3rem;
  display: inline-block;
  flex-shrink: 0;
  align-items: center;
}
.ul-nav{
  margin: 0;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  flex-shrink: 1;
  width: 100%;
  //justify-content: space-between;
  > li{
    margin:0 1rem;
    display: inline-block;
    .link-nav{
      color: $blue;
      font-weight: bold;
      font-size: 1.5rem;
    }
    .dropdown-menu{
      padding:1rem 0;
    }
  }
}
.right-b-header{
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 2rem;
}
.search-h{
  height: 4rem;
  border-radius: 8px;
  flex-shrink: 1;
  border: 1px solid $gray-700;
  position: relative;
  padding-right: 5px;
  display: flex;
  background: $white;
  z-index: 1;
  .form-control{
    border: none;
    width: 100%;
    color: rgba(46,64,87,0.5);
    height: 3.8rem;
    display: flex;
    align-items: center;
    background: transparent;
  }
  .btn-search{
    border: none;
    background: transparent;
    width: 2rem;
    height: 2rem;
    margin:0 1.2rem;
    top: 47%;
    right: 0;
    padding: 0;
    transform: translateY(-50%);
    position: absolute;
  }
}
.input-search-desktop{
  width: 100%;
  .form-control{
    width: 100%;
    background: rgba(255,255,255,0.001);
    padding-right: 4rem;
    position: relative;
    width: 17rem;
  }
}
.main-nav-and-search{
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 4rem;
  &.expand-full-search{
    .search-h{
      position: absolute;
      width: 100%;
    }
    .input-search-desktop {
      .form-control{
        z-index: 0;
      }
    }
  }

}
.wrap-search-dynamic{
  .select2-container{
    width: 10rem!important;
  }
  .select2-selection{

    border-left: none;
    border-top: none;
    border-bottom: none;
    border-radius: 8px 0 0 8px;
    border-color: rgba(151,151,151,0.3);
    outline: none;
  }
  .select2-container--default  {
    .select2-selection--single{
      height: 3.8rem;
      .select2-selection__rendered{
        outline: none;
        line-height: 3.8rem;
      }
      .select2-selection__arrow{
        height: 3.8rem;
      }
    }
  }


}

.cart-div{
  flex-shrink: 0;
  margin: 0 2rem 0 1.5rem;
}
.link-cart{
  display: inline-flex;
  flex-direction: column;
  > img{
    max-width: 2.3rem;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      width: 2.3rem;
    }
    margin:0 auto 2px;
  }
  > span{
    font-size: 1.6rem;
  }
}
.sale-at-mobile{
  display: none;
}
.search-mobile{
  display: none;
}
.nav-mobile{
  display: none;
}
.link-reg-login{
  display: inline-flex;
  .btn-text{
    color: $white;
    cursor: pointer;
  }
}
.wrap-logo{
  display: inline-block;
}
.mobile-search{
  display: none;
}

/* Mobile nav */
.mobile-nav{
  position: absolute;
  top: 4.5rem;
  left: 0;
  width: 70%;
  height: calc(100vh - 45px);
  z-index: 9;
  display: none;
  &.show{
    display: flex;
  }
}
.overlay-mobile-nav{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0,0,0,0.5);
}
.wrap-nav-m{
  z-index: 2;
  position: relative;
  width: 29rem;
  background: $white;
}
.nav-bar-f{
  background: #f8f8f8;
}
.cancel-nav-mobile{
  padding: 1.7rem 2rem;
  cursor: pointer;
}
.card{
  border: none;
  border-top: 1px solid rgba(151,151,151, 0.2);
}
.card-header{
  padding: 0;
  border: none;
  box-shadow: none;
  > h5{
    display:flex;
    position: relative;
    align-items: center;
    &:before{
      display: none;
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-right: 5px solid $blue;
      content: '';
      position: absolute;
      right: 2rem;
    }
    a{
      width: 100%;
      padding: 2.2rem 2rem;
      display:block;
      .icon{
        display: inline-block;
        margin-right: 5px;
        margin-top: -3px;
        position: relative;
      }
    }

  }
  &.active{
    > h5{
      &:before{
        transform: rotate(-90deg);
        transform-origin: 20% 40%;
      }

    }
  }
}
.has-sub-nav{
  > h5 {
    &:before {
      display: block;
    }
  }
}

.ul-products{
  padding-left: 5rem;
  > li{
    display: block;
    a{
      display: block;
      padding: 0.5rem 0;
      color: $blue;
    }
  }
}

/* dropdown account */
.dropdown-menu{
  color: $blue;
}
.dropdown-account{
  display: inline-block;
  .dropdown-menu{
    top: 4.1rem!important;
    left: auto!important;
    right: -1rem;
    position: relative;
    background: #fff;
    width: 35.9rem;
    transform: none!important;
    border-radius: 4px;
    padding: 0;
    &:after{
      bottom: 100%;
      right: 1rem;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-bottom-color: $white;
      border-width: 10px;
      margin-left: -10px;
    }
  }
}
.overylay-dropdown{
  top: 4.5rem;
  left: 0;
  position: fixed;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100 - 45px);
  background: rgba(0,0,0,0.7);
  display: none;
  z-index: 2;

}
.dropdown{
  &.show{
    .overylay-dropdown{
      display: block;
    }
  }
}
.account-main-info{
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $gray-700;
}
.avatar-dropdown{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-right: 1rem;
  flex-shrink: 0;
}
.name-tel{
  flex-shrink: 1;
  width: 100%;
  > h4{
    font-weight: bold;
  }
  > .tel{
    margin: 0;
  }
}
.detail-profile{
  color: $orange;
  font-weight: 500;
  font-size: 1.4rem;
  margin-left: 1rem;
  flex-shrink: 0;
}
.ul-manager{
  padding:2rem 1.5rem;
  > li{
    display: block;
    margin-bottom: 1.5rem;
    &:last-child{
      margin-bottom: 0;
    }
    a {
      display: flex;
      width: 100%;
      align-items: center;
    }
    &:hover{
      a{
        color: $hight-light;
      }
    }
    .icon{
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 50%;
      flex-shrink: 0;
      margin-right: 1rem;
    }
    > span{
      width: 100%;
      flex-shrink: 1;
    }
  }
}
.logout-acc{
  border-top: 1px solid $gray-700;
  padding: 2rem;
}
.logout-link{
  color: $red;
  background: url('../images/logout.svg') no-repeat 0 0;
  background-size: 1.7rem;
  padding-left: 3.2rem;
}
.fixedPosition{
  overflow: hidden;
}
.not-mobile-tablet{
  &.img-account{
    display: inline-block;
  }
}
.on-mobile-tablet{
  .img-account{
    display: none;
  }
}
.mobile-login{
  padding: 1.6rem;
}

/* hover dropdown menu */
.ul-nav{
  > li{
    .dropdown{
      &:hover{
        >.dropdown-menu{
          display: block;
        }
      }

    }
  }
}


.dropdown  {
  >.dropdown-toggle{
    :active{
      /*Without this, clicking will make it sticky*/
      pointer-events: none;
    }
  }
}
.old-price{
  opacity: 0.7;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #2e4057;
  text-decoration: line-through;
}
/* =========================== RESPONSIVE =========================== */
@include media-breakpoint-down(xl) {

}
@media screen and (max-width: 1200px){ // under 1200
  .logo{
    width: 16.3rem;
    margin-left: 2rem;
  }
  .cart-div{
    margin-right: 0;
  }
  .ul-nav{
    padding: 0;
  }
  .input-search-desktop{
    .form-control{
      width: 4rem;
      padding-left: 0;
    }
  }
  .expand-full-search{
    .input-search-desktop{
      .form-control{
        width: 100%;
        padding-left: 1rem;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .not-mobile-tablet{
    &.img-account{
      display: none;
    }
  }
  .on-mobile-tablet{
    .img-account{
      display: inline-block;
    }
  }
  .up-header {
    .left-up-header{
      max-width: 80%;
    }
    .right-up-header{
      display: flex;
      align-items: center;
      width: 5rem;
      margin-right: 0.6rem;
      padding: 1rem 1.5rem;
    }
  }
  .link-reg-login{
    display: none;
  }
  .img-account{
    margin: 0;
  }
  .sale-at,.ul-nav{
    display: none;
  }
  .sale-at-mobile{
    max-width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .bottom-header{}
  .left-b-header{
    .logo{
      width: 11.8rem;
    }
  }
  .search-h{
    display: none;
  }

  .search-mobile{
    display: block;
    padding: 0;
    position: relative;
    padding-right: 1.6rem;
    background: transparent;
    border: none;
    &:focus{
      outline: none;
    }
    &:after{
      content: '';
      width: 1px;
      height: 100%;
      background: #d8d8d8;
      top: 0;
      right: 0;
      position: absolute;
    }
    > img{
      width: 2rem;
      margin-top: -3px;
    }
  }
  .cart-div{
    width: 5.5rem;
  }
  .right-b-header{
    justify-content: flex-end;
  }
  .logo{
    margin: 1.6rem 1.5rem 1.6rem 0;
  }
  .nav-mobile{
    display: block;
    padding: 1.6rem 2rem 1.6rem 2rem;
  }

  /* Header tablet */
  .bottom-header{
    display: flex;
    .left-b-header{
      width: 100%;
      flex-shrink: 1;
      .wrap-logo{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .right-b-header{
      width: auto;
      flex-shrink: 0;
    }
  }
  .mobile-search{
    display: block;
    padding: 0rem 2rem 1.5rem;
    .search-h{
      display: block;
      .form-control{
        border-radius: 4px;
      }
    }
  }
  .dropdown-account {
    .dropdown-menu{
      min-width: 21.3rem;
      right: -2rem;
      &.account-not-login{
        width: auto;
        padding: 1.5rem;
        .btn{
          color: $hight-light;
        }
        span{
          color: $blue;
          font-size: 13px;
          letter-spacing: -0.41px;
          padding: 0 2px;
          display: inline-block;
        }
      }
      &:after{
        right: 1.8rem;
      }
    }
  }
  .login-reg-mobile{
    text-align: center;
  }
}

@include media-breakpoint-down(sm) {
  .up-header .right-up-header{
    padding-right: 2rem;
    padding-left: 1rem;
    margin-right: 0;
  }
  .img-account{
    width: 2rem;
  }
  .link-cart > span{
    display: none;
  }
  .cart-div{
    width: 2.5rem;
  }
  .account-main-info {
    padding: 10px;
  }
  .account-main-info {
    padding: 10px;
  }
  .ul-manager {
    padding: 10px;
  }
  .ul-manager > li {
    margin-bottom: 10px;
  }
  .logout-acc {
    padding: 10px;
  }
}
