/* override old css*/
#header {
  padding-top: 182px;
}
@include media-breakpoint-down(sm) {
  #header {
    padding-top: 165px;
  }
}
.new-header{
  position: fixed;
  width: 100%;
  z-index: 10;
  .up-header{
    background: $white;
  }
  .link-reg-login {
    .btn-text{
      color: $blue;
      font-size: 1.6rem;
    }
    span{
      color: $blue;
      margin: 0 5px;
    }
  }
  .cart-div{
    display: flex;
    align-items: flex-end;
    padding-bottom: 2px;
    margin-right: 0;
    margin-left: 1rem;
  }
  .wrap-search-dynamic {
    .select2-container{
      width: 15.3rem!important;
      background: transparent;
      padding-left: 1rem;

    }
    .select2-container--default .select2-selection--single{
      background: transparent;
    }
  }
  .input-search-desktop {
    .form-control{
      font-weight: 400;
    }
    .btn-search{
      height: 4rem;
      width: 4rem;
      border-radius: 0 2rem 2rem 0;
      background: $orange!important;
      margin:1px 0 0 0;
    }
  }
  .main-cart{
    width: 3.2rem;
    height: 3.2rem;
    background: #f8f8f8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    > img{
      width: 1.8rem;
    }
    .badge{
      right: -6px;
    }
  }
  /**/
  .main-nav-and-search{
    .ul-nav{
      padding-left: 0;
      > li{
        margin-right: 4rem;
        .link-nav{
          display: inline-block;
          font-weight: 400;
          text-transform: uppercase;
          font-size: 1.6rem;
          letter-spacing: -0.44px ;
          padding: 1rem 0;
          color: $white;
        }
      }
    }
  }
  .bottom-header{
    background: $dusk-blue-full;
    margin-bottom: 2rem;
    border-bottom: 1px solid $gray-700;
    border-top: 1px solid $gray-700;
    .main-nav-and-search{
      height: auto;
    }
  }
  .dropdown-toggle::after{
    border-color: $orange;
    border-right-color: transparent;
    border-left-color: transparent;
  }
  .link-reg-login{
    //.dropdown-menu{
    //  background: $white;
    //  //background: rgba(46,48,146,0.95);
    //  color: $white;
    //}
    span{
      font-size: 1.6rem;
      color: #07212a;
      &.hide-desktop{
        display: none;
      }
      &.hide-mobile{
        display: inline-block;
      }
    }
    .btn-text{
      color: #07212a;
    }
    .img-account{
      color: $blue;
      width:100%;
      text-align: center;
      margin: 0;
      font-size: 1.2rem;
      label{
        color: #2e3092;
        font-weight: bold;
        cursor: pointer;
      }
    }
    .dropdown-menu{
      padding-left: 0;
      margin-top: 1.2rem;
    }
  }
  .logout-link{
    padding-left: 0;
    background: none;
    color: #ff0000;
    //color: $white;
  }
  /**/
  .ul-manager > li a{
    &:hover{
      span{
        color: $orange;
      }

    }
  }
}
/* new css*/

.up-header-in{
  display: flex;
  .wrap-logo{
    flex-shrink: 0;
    width: 18rem;
    display: flex;
    align-items: center;
    .logo{
      margin: 0;
      > img{
        width: 100%;
      }
    }
  }
  .wrap-search{
    flex-shrink: 1;
    width: 100%;
    padding: 2rem 6rem;
    .search-h{
      padding: 0;
      border-radius: 20px;
      border: solid 1px #eaeaea;
      background-color: #f8f8f8;
    }
  }
}
.up-right-header{
  padding: 1.2rem 0;
  display: flex;
  flex-shrink: 0;
  width: auto;
  justify-content: flex-end;
}
.user-setting{
  flex-shrink: 1;
  width: 100%;
  text-align: center;
  padding-right: 1rem;
  border-right: 1px solid $gray-700;
}
.icon-user{
  text-align: center;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  margin: 2px auto 0px;
  padding-right: 0;
}
.hotline-header{
  flex-shrink: 0;
  //display: flex;
  justify-content: space-between;
  align-items: center ;
  width: 19.6rem;
  color: $white;
  > img{
    display: inline-block;
  }
  span{
    font-size: 1.2rem;
    display: inline-block;
  }
  a{
    font-size: 1.6rem;
    display: inline-block;
    letter-spacing: 0.11px;
    font-weight: 400;
    color: $white;
    margin-left: 10px;
  }
}
.bottom-header-in{
  display: flex;
  justify-content: space-between;
  .right-b-header{
    margin: 1rem 0;
    flex-shrink: 0;
    width: auto;
    padding: 0 0 0 2rem;
    border-left: 1px solid $gray-700;
  }

}
.search-h-mobile{
  display: none;
}

/* =========================== RESPONSIVE =========================== */
@include media-breakpoint-down(xl) {

}
@media screen and (max-width: 1200px){ // under 1200

}

@include media-breakpoint-down(md) {
  .up-header-in {
    display: block;
    width: 100%;
    .nav-mobile{
      padding: 1.5rem 1rem;
      .nav-open{
        display: block;
        width: 32px;
        height: 25px;
      }
      .nav-close{
        display: none;
        width: 32px;
        height: 25px;
      }
      &.cancel-nav-mobile{
        .nav-open{
          display: none;
        }
        .nav-close{
          display: block;
        }
      }

    }
    .wrap-logo{
      width: 100%;
      padding-bottom: 5px;
      .logo{
        width: 11.8rem;
        margin-top: 7px;
      }
    }
    .wrap-search{
      display: none;
    }
    .up-right-header{
      margin-left: -1rem;
      margin-right: -1rem;
      background: $dusk-blue-full;
      width: auto;
      padding: 0 1rem;
    }
  }
  .user-setting {
    display: flex;
    align-items: center;
    .icon-user{
      margin: 0 5px;
    }
    &.have-not-sign-in{

    }
  }
  .new-header {
    .cart-div{
      width: 5.5rem;
      flex-shrink: 0;
      padding-bottom: 10px;
    }
    .bottom-header{
      display: none;
    }
    .link-cart > span{
      display: none;
    }
    .mobile-nav{
      top: 16.5rem;
      height: 0;
      opacity: 0;
      display: flex;
      transition: all ease-in-out 0.5s;
      .wrap-nav-m{
        display: none;
      }
      &.show{
        height: calc(100vh - 45px);
        opacity: 1;
        .wrap-nav-m{
          display: block;
        }
      }
    }
    .wrap-nav-m{
      width: 100%;
      background: rgba(46,48,146,0.95);
      .nav-bar-f{
        display: none;
      }
      .card{
        background: transparent;
        color: $white;
        .card-header {
          > h5{
            &:before{
              border-right-color: $orange;
            }
            a{
              color: $white;
              position: relative;
              z-index: 2;
              .icon{
                display: none;
              }
            }
          }


        }
      }
      .ul-products {
        padding-left: 2rem;
        > li {
          a{
            color: $white;
            padding: 0 0 2rem;
          }
        }
      }
    }
    .link-reg-login {
      span{
        font-size: 1.6rem;
        &.hide-desktop{
          display: inline-block;
        }
        &.hide-mobile{
          display: none;
        }
      }
      .btn-text{
        color: $white;
      }
      .img-account{
        color: $white;
        label{
          color: $white;
        }
      }
      //.dropdown-menu{
      //  margin-top: 0;
      //  top: 10.6rem!important;
      //  position: fixed!important;
      //  border: none;
      //  border-radius: 0;
      //  width: 100%;
      //  color: $white;
      //  height: calc(100vh - 45px);
      //  //background: rgba(46,48,146,0.95);
      //  background: $white;
      //  transform: none!important;
      //}
    }
    .detail-profile{
      color: $orange;
      font-size: 1.6rem;
      i{
        color: $orange;
      }
    }

  }
  .search-h-mobile {
    display: block;
    width: 100%;
    .mobile-search{
      padding: 1rem 0 0 2rem;
    }
    .search-h {
      border:none;
      padding-right: 0;
      .form-control{
        font-size: 1.6rem;
        font-weight: 400;
        height: 36px;
        border-radius: 20px;
        background-color: #f5f5f5;
        padding-left: 4rem;
      }
      .btn-search{
        right: auto;
        left: 5px;
        width: 1.6rem;
      }
    }
  }
  .up-header-in{

  }
  .user-setting{
    display: flex;
    flex-direction: row-reverse;
  }
  .link-reg-login{
    display: block;
  }
  .bottom-header-in{
    display: none;
  }
}

@include media-breakpoint-down(sm) {

}
