﻿.map-link{
  display: flex;
}
.map-link-col{
  width: 33.33%;
  &:nth-child(3){
    .map-link-item{
      margin-top: 6rem;
    }
  }
}
.map-link-item{
  width: 100%;
  border-radius: 24px;
  box-shadow: 0 22px 48px 0 rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
  padding: 3rem 3rem 1rem;
  margin-bottom: 3rem;
  &:last-child{
    margin-bottom: 0;
  }
  h4{
    max-width: 25rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin: 0 0 1.5rem;
  }
}
.link-item{
  display: block;
  padding-left: 2.6rem;
  background-position: left 4px;
  background-repeat: no-repeat;
  margin-bottom: 5px;
  &.address{
    background-image: url('../images/icon-location-gray.svg');
  }
  &.tel{
    background-image: url('../images/icon-tel.svg');
  }
  &.email{
    background-image: url('../images/icon-@.svg');
  }
  &.link{
    background-image: url('../images/icon-link.svg');
  }
}
.view-google-map{
  border-top: 1px solid $gray-500;
  margin-left: -3rem;
  margin-right: -3rem;
  width: auto;
  padding: 1.5rem 3rem 0;
  display: block;
  margin-top: 1.5rem;
  a{
    margin: 0 auto;
    color: $impress-blue;
  }
}
.map-img{
  background: url('../images/link.png') no-repeat;
  background-size: cover;
}
@include media-breakpoint-down(md) {
  .map-img{
    display: none;
  }
  .map-link{
    display: block;
  }
  .map-link-col{
    width: 100%;
    &:nth-child(3) {
      .map-link-item{
        margin-top:0;
      }
    }
  }
  .map-link-item:last-child{
    margin-bottom: 3rem;
  }
}
@include media-breakpoint-down(sm) {

}
