﻿.nn-company{
  display: block;
  .company-block{
    &:nth-child(2n){
      background: #f8f8f8;
    }
  }

  .slick-slide{
    .img-post{
      > p{
        opacity: 0;
        transition: all ease-in-out 0.3s;
      }
      .img-area{
        position: relative;
        &:after{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          background: rgba(0,0,0,0.5);
          content:'';
          transition: all ease-in-out 0.3s;
        }
      }
    }
    &.slick-current{
      .img-post{
        > p{
          opacity: 1;
        }
        .img-area{
          &:after{
            background: none;
          }
        }
      }
    }
  }

}
.company-block{
  padding: 5rem 0;
  .title-secttion{
    margin-bottom: 3rem;
  }
  .lead-section{
    margin-bottom: 3rem;
  }
}
.photo-carousel{
  margin: 2rem auto 0;
  .img-post{
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@include media-breakpoint-down(md) {
  .nn-company{
    .company-block{
      padding:3rem 1rem;
    }
    .photo-carousel{
      display: block;
      width:auto;
      margin-left: -2rem;
      margin-right: -2rem;
    }
  }
}
@include media-breakpoint-down(sm) {

}
