﻿.nn-version2-section{
  .container{
    min-height: 60rem;
    padding: 5rem 0;
    background: $white url("../images/nn-v2.png") no-repeat right bottom;
    background-size: auto 90%;
  }
  .title-section{
    max-width: 38rem;
    font-size: 3rem;
  }
}
/**/
.define-drug-version2-section{
  background: #f8f8f8;
  margin-bottom: 0;
  .container{
    padding: 5rem 0;
    height: 50rem;
    display: flex;
    align-items: center;
    background: url("../images/pill.png") no-repeat right bottom;
    background-size: auto 100%;
  }
  .title-section{
    max-width: 36rem;
    font-size: 3rem;
    margin-bottom: 2rem;
  }
}
.define-content{
  width: 50%;
  padding-right: 8rem;
}
/* uu diem */
.advantages-section{
  padding: 10rem 0;
  .title-section{
    text-align: center;
    margin-bottom: 5rem;
  }
}
.compare-lbl{
  display: flex;
  margin-bottom: 5rem;
  .compare-item{
    height: 80px;
    border-radius: 47px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: $blue;

    &.active{
      background: $blue;
      color: $white;
    }
  }
}
.compare-item{
  width: calc(50% - 10px);
  font-size: 14px;
  color: #6b7888;
  margin-right: 1rem;
  &:nth-child(2){
    margin-left: 1rem;
    margin-right: 0;
  }
}
.compare-property{
  display: flex;
  border-bottom: 1px solid $gray-700;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  position: relative;
  &:last-child{
    border-bottom: none;
  }
  &:before{
    width: 36px;
    height: 36px;
    background-color: #16b5d2;
    content: '1';
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 1.4rem;
    font-weight: bold;
    color: $white;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  .compare-item{
    padding-left: 5rem;
    padding-right: 5rem;
    text-align: center;
    &:nth-child(2){
      color: $blue;
    }
  }
}
.compare-list{
  margin-bottom: 10rem;
  .compare-property{
    &:nth-child(2){
      &:before{
        content:'2';
      }
    }
    &:nth-child(3){
      &:before{
        content:'3';
      }
    }
    &:nth-child(4){
      &:before{
        content:'4';
      }
    }
    &:nth-child(5){
      &:before{
        content:'5';
      }
    }
  }
}
.video-media{
  max-width: 112rem;
  margin: 0 auto 5rem;
  border-radius: 16px;
}
@include media-breakpoint-down(md) {
  .about-group-link{
    padding-left: 1rem;
    padding-right: 1rem;
    ul{
      margin-left: -2rem;
      margin-right: -2rem;
      width: auto;
      padding-left: 2rem;
      padding-right: 2rem;
      > li{
        width: 35%;
        flex-shrink: 1;
        &:last-child{
          padding-right: 0;
        }
        &:nth-child(2){
          width: 40%;
        }
        &:nth-child(3){
          flex-shrink: 0;
          max-width: 14rem;
        }
        &:nth-child(4){
          flex-shrink: 0;
          max-width: 14rem;
        }
        a{
          font-size: 1.3rem;
        }
      }
    }
  }
  /**/
  .nn-version2-section {
    .container{
      min-height: 40rem;
      padding: 5rem 2rem;
      background-position: 90% bottom;
    }
    .title-section{

    }
  }
  /**/
  .define-drug-version2-section{
    .container{
      padding: 5rem 2rem;
      height: 40rem;
    }
  }
  /**/
  .advantages-section{
    padding: 5rem 1rem 2rem;
  }
}
@include media-breakpoint-down(sm) {
  .about-group-link{
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 3rem;
    ul {
      > li {
        width: 35%;
        flex-shrink: 1;
        &:last-child{
          padding-right: 0;
        }
        &:first-child{
          padding-left: 0;
        }
        &:nth-child(2){
          width: 40%;
        }
        &:nth-child(3){
          flex-shrink: 1;
        }
        &:nth-child(4){
          flex-shrink: 1;
        }
        a{
          font-size: 1.2rem;
        }
      }
    }
  }
  /**/
  .nn-version2-section {
    overflow: hidden;
    .container{
      padding-top: 2rem;
      height: 35rem;
      min-height: 23rem;
      background-position: center 90%;
      padding-bottom: 23rem;
      background-size: auto 55%;
    }
    .title-section{
      font-size: 2.4rem;
    }
  }
  /**/
  .define-drug-version2-section {
    .container{
      height: auto;
      background-position: right bottom;
      padding-bottom: 32rem;
      background-size: auto 30rem;
    }

  }
  .define-content{
    padding-right: 0;
    width:100%;
  }
  /**/
  .compare-lbl {
    margin-bottom: 3rem;
    .compare-item{
      padding: 0 1rem;
      text-align: center;
    }
  }

  .compare-list{
    border-top: 1px solid $gray-700;
    padding-top: 2rem;
    margin-left: -2rem;
    margin-right: -2rem;
    margin-bottom: 4rem;
    .compare-item{
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  .compare-property{
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }
}
