﻿.cart-section{
  padding: 5rem 0;
  background: #f8f8f8;
}
.cart-list{
  padding: 3rem 0;
  &.empty-cart{
    min-height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ul-cart{
    width: 100%;
    height: auto;
    background: $white;
    padding: 2.5rem;
    margin-bottom: 3rem;
    > li{
      &:last-child{
        .right-qc{
          border-bottom: none;
          padding-bottom: 0;
        }
      }
    }
  }
  .qty-quick-cart{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .product-cart-in{
    max-width: 80%;
  }
}
.empty-cart-ct{
  text-align: center;
  .icon-cart{
    margin-bottom: 2rem;
  }
  .text-cart{
    margin-bottom: 3rem;
  }
}
.qty-in-cart{
  margin-bottom: 0rem;
}
.product-money{
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0;
  text-align: right;

}

.before-payment-form{
  padding: 2.5rem 2rem;
  margin-bottom: 2.5rem;
  background: $white;
  border-radius: 8px;
  .inline-form-group{
    margin-bottom: 0;
  }
}

.inline-form-group{
  display: flex;
  .btn{
    margin-left: 1rem;
  }
}
.total-price{
  display: flex;
  margin-bottom: 1.5rem;
  .lbl-price{
    flex-shrink: 1;
    width: 80%;
  }
  .number-price{
    flex-shrink: 0;
    width: 15rem;
    //padding-right: 1rem;
    text-align: right;
    font-weight: 600;
  }
  &.total-temp{
    margin-top: 2rem;
    border-top: 1px solid $gray-700;
    padding-top: 2rem;
    .lbl-price{
      flex-shrink: 1;
      width: 80%;
    }
    .number-price{
      color: $red;
      font-size: 2rem;
    }
  }
}
.payment-act{
  margin-top: 1.5rem;
  .btn{
    width: 100%;
  }
}

@include media-breakpoint-down(md) {

}
@include media-breakpoint-down(sm) {
  .cart-list{
    padding-bottom: 0;
  }
  .cart-cta{
    margin-bottom: 2rem;
  }
  .before-payment-form{
    &:last-child{
      margin-bottom: 0;
    }
  }
  .product-money{
    margin-top: 1rem;
    text-align: left;
  }
  .product-money span {
    font-size: inherit !important;
    text-decoration: none !important;
  }
}
