.cartSyncModal{
  .modal-lg{
    max-width: 110rem;
  }
  .modal-content{
    padding-bottom: 5rem;
  }
  .div-cta{
    width: 100%;
    text-align: center;
    .btn{
      margin: 0 1rem 1rem;
      width: 25rem;
      font-weight: 400;
      &.btn-gray{
        color: $blue;
      }
    }
  }
}
.compare-cart{
  display: flex;
  margin-bottom: 6rem;
}
.name-cart{
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  color: $blue;
  text-transform: uppercase;
}
.old-cart,.new-cart{
  flex-shrink: 1;
  width: 50%;
  .ul-cart{
    height: auto;
    max-height: 32rem;
    width: 100%;
    > li{
      padding: 1rem 0;
      &:last-child{
        padding-bottom: 0;
        .right-qc{
          border-bottom: none;
        }
      }
    }
  }
  .product-money{
    font-weight: 400;
  }
  .img-product-qc{
    width: 8.4rem;
  }
  .info-products-on-cart{
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .right-qc{
    padding: 0 0 2rem;
    display: flex;
    align-items: center;
  }
  .title{
    margin-bottom: 5px;
  }
  .jspVerticalBar{
    right: -1.5rem;
  }
}
.wrap-cart{
  border-radius: 8px;
  padding: 1.5rem;
  background: #f8f8f8;
  .product-cart{
    padding-right: 0;
    .product-cart-in{
      width: 100%;
      max-width: 100%;
    }
  }
}
.info-products-on-cart{
  display: flex;
  justify-content: space-between;
}
.total-money{
  text-align: right;
}
.old-cart{

}
.merge-cart{
  margin-top: 4rem;
  flex-shrink: 0;
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    width: 3.2rem;
    width: 3.2rem;
  }
}
.new-cart{

}
.text-sync-cart{
  margin-bottom: 6rem;
}
.center-block{
  text-align: center;
}

/* =========================== RESPONSIVE =========================== */
@media screen and (max-width: 1200px){
  .cartSyncModal {
    .modal-lg{
      width: inherit;
    }

    .modal-content{
      padding: 0 3rem 3rem;
    }
  }
  .compare-cart,.text-sync-cart{
    margin-bottom: 3rem;
  }
}

@include media-breakpoint-down(md) {
  .cartSyncModal .modal-lg{

  }
}
@include media-breakpoint-down(sm) {
  .cartSyncModal {
    .modal-dialog{
      > .container{
        padding: 0;
      }
    }
    .modal-title{
      font-size: 2.4rem;
    }
    .modal-header{
      padding: 3rem 0;
    }
    .modal-content{
      padding: 0 2rem 2rem;
    }
    .div-cta{
      .btn{

      }
    }
  }
  .compare-cart{
    display: block;
    width: 100%;
  }
  .old-cart, .new-cart{
    width: 100%;
    .ul-cart{
      height: 27rem;
    }
  }
  .merge-cart{
    margin: 2rem auto;
  }
}
