﻿.frequently-question-section{
  background: $gray-500;
  margin-bottom: 0;
  h3{
    margin-bottom: 3rem;
  }
}
.style-frequently-question{
  .card{
    margin-bottom: 2rem;
    border: none;
    border-radius: 4px;
    position: relative;
    padding: 2rem 0 2rem 6rem;
    background-color: $white;
    background-image:url("../images/qa.svg");
    background-repeat: no-repeat;
    background-position: 2.3rem 2.3rem;
    .card-header{
      padding-right: 0;
      width: 100%;
      background: transparent;
      a{
        padding: 0 4rem 0 0;
        color: $blue;
        width: 100%;
        display: block;
        position: relative;
        &:before{
          content: '+';
          border: none;
          transform: none;
          right: 1rem;
          top: -10px;
          font-size: 3rem;
          color: $gray-700;
          font-weight: 400;
          position: absolute;
        }
      }
      > h5{
        &:before{
          display: none;
        }
      }
      &.active{
        a:before{
          content: '-';
          top: -19px;
          font-size: 4rem;
          transform: none;
        }
      }
    }
    .card-body{
      border-top: 1px solid $gray-700;
      padding: 1.5rem 0 0;
      padding-right: 3rem;
      margin-top: 1.5rem;
      p{
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
}
@include media-breakpoint-down(md) {

}
@include media-breakpoint-down(sm) {

}
