﻿.frm-heath-section{
  padding: 5rem 0;
  background: #f8f8f8;
}
.frm-wrap{
  width: 100%;
  max-width: 73rem;
  margin: 0 auto;
  .frm-cta{
    .btn{
      min-width: 16rem;
    }
  }
}
.frm-title{
  text-align: center;
}
.frm-note{
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: -0.4px;
  text-align: center;
  color: $blue;
  margin-bottom: 3rem;
}
.frm-body{
  background: $white;
  padding: 3rem 3rem 1rem;
  border-radius: 8px;
  margin: 0 auto 3.5rem;
}
.frm-cta{
  .btn{
    margin-right: 2.5rem;
    &:last-child{
      margin-right: 0;
    }
  }
}
.body-question-answerd{
  padding-top: 3rem;
  .title{
    padding-bottom: 3rem;
  }
}
@include media-breakpoint-down(md) {
  .body-question-answerd{
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@include media-breakpoint-down(sm) {
  .frm-heath-section{
    padding: 0 1rem;
    .frm-wrap{
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
    .frm-cta {
      .btn{
        min-width: auto;
        margin-top: 10px;
      }
    }
  }
  .list-products-by-cate.related-products{
    padding-left: 1rem;
  }
}
