﻿.other-link-detail{
  margin-bottom: 4rem;
  > li{
    margin-bottom: 1rem;
    width: 100%;
    padding-left: 3.4rem;
    position: relative;
    &:before{
      position: absolute;
      top: 0;
      left: 0;
      content: '>>';
      font-size: 1.6rem;
      color: #2f3192;
      width: 2.4rem;
      height: 2.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    a{
      font-weight: bold;
      width: 100%;
      display: block;
      color: #2f3192;
      &:focus,&:visited{
        font-weight: 400;
      }
    }
    &.video{
      &:before{
        background-image: url("../images/bullet-video.png");
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
      }
    }
  }
}
.body-detail{
  //position: relative;
  width: 100%;
}
.body-detail-article{
  margin-bottom: 4rem;
  line-height: 2;
  ul{
    padding-left: 1.5rem;
    margin-bottom: 0.5rem;
    line-height: 35px;
  }
  div{
    margin-bottom: 0.5rem;
    line-height: 35px;
  }
  .ul-tag{
    padding-left: 0;
    margin-bottom: 4rem;
  }
}
.body-detail-article img {
  width: 100%;
  height: auto;
}
.ul-tag{
  > li{
    margin-bottom: 5px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
.item-article{
  margin-bottom: 4rem;
}
.adv-add-in{
  border-top: 1px solid $gray-700;
  padding-top: 4rem;
  margin-bottom: 4rem;
  img{
    width: 100%;
  }
}
.post-by{
  color: rgba(46,64,87,0.7);
}
.author-article{
  color: rgba(46,64,87,0.7);
  font-weight: bold;
}
.img-post{

  > img{
    //width: 100%;
  }
  p{
    margin-top: 1rem;
    font-style: italic;
    color: rgba(46,64,87,0.7);
  }
}
.link-detail{
  color: #2f3191;
  text-decoration: underline;
  transition: all ease-in-out 0.3s;
}
.share-detail{
  margin-left: auto;
  padding-left: 4.5rem;
  .ul{
    > li{
      width: 100%;
      margin-bottom: 1rem;
      a{
        display: block;
        width: 100%;
      }
      img{
        width: 2.8rem;
      }
    }
  }
  .save-my-favorite{
    position: relative;
    width: 3.2rem;
    height: 3.2rem;
    right: auto;
    top: auto;
    img{
      width: 3.2rem!important;
    }
  }
}
.photo-carousel{
  width: 100%;
  display: block;
}
@include media-breakpoint-down(md) {

}
@include media-breakpoint-down(sm) {

}
