﻿.full-header{}
.full-header-inner{
  padding: 3rem 0 1rem;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-between;
  h1{
    font-size: 36px;
    font-weight: bold;
  }
  .select-control{
    flex-shrink: 0;
    min-width: 19rem;
    font-weight: 400;
    .form-control{
      padding-right: 2rem;
    }
  }
}
.body-two-col{
  padding-top: 2rem;
}
.body-two-col > .container{
  display: flex;
}
.body-left-col{
  width: 25.6rem;
  flex-shrink: 0;
}
.body-right-col{
  display: flex;
  flex-shrink: 1;
  width: 100%;
  padding-left: 3rem;
  justify-content:stretch;
  overflow:hidden;
  .slick-dots{
    padding-left: 0;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
.sidebar-left{
  h4{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  .ul-sidebar{
    padding: 1.5rem;
    display: block;
    background: $gray-500;
    border-radius: 8px;
    > li{
      display: block;
      width: 100%;
      a{
        color: $blue;
        width: 100%;
        display: block;
        padding-bottom: 1.2rem;
        margin-bottom: 1.2rem;
        border-bottom: 1px solid $gray-700;
        transition: all ease-in-out 0.3s;
      }
      &:last-child{
        a{
          margin-bottom: 0;
          padding-bottom: 0;
          border-bottom: none;
        }
      }
      &:hover, &.active{
        a{
          font-weight: bold;
        }
      }

    }
  }
}
.body-detail{
  overflow: hidden;
  .title{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: bold;
  }
  p{
    margin-bottom: 0.5rem;
    line-height: 35px;
    text-align: justify;
  }
  .img{
    img{
      width: 100%;
      border-radius: 4px;
    }
  }
}
@include media-breakpoint-down(sm) {
  .body-detail{
    p{
      line-height:25px;
    }
  }
}
.double-img{
  display: flex;
  justify-content: space-between;
  .single-article{
    width: calc(50% - 10px);
    .img-link{
      display: block;
      width: 100%;
      margin-bottom: 1.5rem;
      > img{
        width: 100%;
        border-radius: 8px;
      }
    }
    h2{
      font-size: 1.4rem;
    }
  }
}
.ul-relate{
  margin-bottom: 5rem;
  clear: both;
  > li{
    display: block;
    width: 100%;
    border-top: 1px solid $gray-700;
    padding-top: 2rem;
    margin-top: 2rem;
    overflow: hidden;
    .img{
      float: left;
      display: inline-block;
      width: 42%;
      margin-right: 3rem;
      img{
        width: 100%;
        float: left;
      }
    }
    .title{
      a{
        line-height: 1.6;
        font-size: 1.6rem;
      }
    }
    p{
      margin-bottom: 1rem;
    }
  }
  &.none-first-border{
    >li{
      &:first-child{
        margin-top: 0;
        padding-top: 0;
        border-top: none;
      }
    }
  }
}
.big-img-detail{
  width: 100%;
  height: 40rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 3rem;
}
.wrap-cate-show-mobile{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.wrap-cate-show-mobile button {
  margin-right: 5px;
}
.wrap-cate-show-mobile .select-control {
  margin-top: 10px;
}
.hash-tag{
  width: 3.2rem;
  height: 3.2rem;
  background: $dusk-blue;
  border-radius: 50%;
  display: inline-flex;
  margin-right: 1rem;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: $white;
  vertical-align: middle;
  margin-top: -5px;
}
.search-by-tag{
  .full-header-inner{
    padding-bottom: 2rem;
    border-bottom: 1px solid $gray-700;
    margin-bottom: 3rem;
  }
  .body-right-col{
    padding-left: 0;
  }
  .body-left-col{
    padding-left: 3rem;
  }
}
/**/
.frm-make-question{
  background: $white url('../images/banner.jpg') no-repeat right top!important;
  background-size: 100% 25%!important;
  margin-bottom: 0;
  .frm-wrap{
    max-width: 92rem;
    padding: 3rem 0;
    margin-bottom: 5rem;
    border-radius: 8px;
    background-color: $white;
    box-shadow: 0 22px 44px 0 rgba(0, 0, 0, 0.11);
  }

  .frm-title{
    text-align: left;
    padding: 0 6rem;
    border-bottom: dotted 6px $gray-700;
  }
  .frm-note{
    text-align: left;
  }
  .frm-body{
    padding: 3rem 6rem 0;
  }
  .frm-cta{
    padding: 0 6rem;
  }
  .form-control{
    width: 100%;
  }
  .body-question-answerd{
    max-width: 73rem;
    margin: 0 auto;
    .title{
      text-align: center;
    }
  }
}
.frm-gt{
  padding-top: 3px;
  width: 100%;
  height: 4rem;
  border-radius: 4px;
  border: solid 1px #e7e7e7;
  display: flex;
  align-items: center;
  justify-content: center;
  > .group-radio{
    margin-left: 1.5rem;
    width: 50%;
    &:first-child{

      padding-right: 5px;
      border-right: solid 1px #e7e7e7;
    }
  }
}
.give-question-up{
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid $gray-700;
}
.lbl-question{
  padding-left: 2.4rem;
  background: url('../images/problem.svg') no-repeat 0 4px;
  background-size: 1.6rem;
}
#example-getting-started{
  width: 100%;
}
.multiselect-native-select{
  .btn-group{
    width: 100%!important;
    .multiselect{
      width: 100%!important;
      padding-right: 1.2rem;
      &:hover,&:focus{
        transform: scale(1);
      }
      .multiselect-selected-text{
        text-align: left;
        width: 100%;
        color: $blue;
      }
      &.dropdown-toggle{
        &:after{
          border-top-color: $blue;
          border-bottom-color: $blue;
        }
      }
    }
    .multiselect-container{
      width: 100%;
      padding: 1.2rem 0;
      > li {
        &:focus{
          outline: none;
        }
        > a {
          &:focus{
            outline: none;
            border: none;
          }
          > label{
            padding-left: 2rem;
            &:focus{
              outline: none;
            }
            >input[type=checkbox]{
              margin-right: 4px;
            }
          }
        }

      }
    }
  }

  .btn{
    border-color: $gray-700;
    background: transparent!important;
  }
}
/**/
.ul-list-text-question{
  width: 100%;
  display: block;
  margin-bottom: 2rem;
  .ul-tag{
    margin-bottom: 1rem;
  }
  .p-toggle-answer{
    margin-bottom: 0;
  }
  .bottom-item{
    > p{
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}
.img{
  margin-bottom: 1.5rem;
  position: relative;
}

.save-my-favorite{
  cursor: pointer;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 4.2rem;
  height: 4.2rem;
  z-index: 1;
  .save-in{
    width: 4.2rem;
    height: 4.2rem;
    position: relative;
  }
  .icon-loved{
    display: none;
  }
  &.saved{
    .icon-loved{
      display: block;
    }
    .icon-love{
      display: none;
    }
  }
  .hover-stt{
    background: #f8f8f8;
    padding: 8px 1.4rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    display: none;
    width: 19.5rem;
    right: -1.5rem;
    top: 4.6rem;
    left: auto;
    position: absolute;
    text-align: center;
    &:after{
      bottom: 100%;
      right: 2.6rem;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-bottom-color: #f8f8f8;
      border-width: 10px;
      margin-left: -10px;
    }
  }
  &:hover{
    .hover-stt{
      display: inline-block;
    }
  }
}
/* success */
.success-ask{
  background: #fff url(../images/banner.jpg) no-repeat right top !important;
  background-size: 100% 420px!important;
  margin-bottom: 0;
  .frm-wrap{
    padding: 7rem 1.5rem;
    max-width: 92rem;
    background: $white;
  }
  h3{
    margin-bottom: 1.7rem;
  }
  p{
    letter-spacing: -0.35px;
    line-height: 1.86;
    &:last-child{
      margin-bottom: 0;
    }
  }
  .frm-cta{
    margin-top: 4rem;
    text-align: center;
    @include media-breakpoint-down(sm) {
      margin-top: 2rem;
    }
  }
}
.seciton-img{
  display: block;
  text-align: center;
  margin-bottom: 5rem;
  @include media-breakpoint-down(sm) {
    margin-bottom: 2rem;
  }
}
.wrap-img{
  width: 16rem;
  height: 16rem;
  background: #f8f8f8;
  border-radius: 50%;
  padding: 5.5rem 3.3rem 4.1rem 4.4rem;
  display: inline-block;
  > img{
    width:83px;
  }
}
.success-ct{
  max-width: 63rem;
  margin: 0 auto;
  text-align: center;
}



@include media-breakpoint-down(md) {
  .frm-gt {
    > .group-radio{
      margin-left: 1rem;
    }
  }
}
@include media-breakpoint-down(sm) {
  .heath-section{
    padding: 0 1rem;
  }
  .full-header-inner{
    display: block;
    width: 100%;
    padding: 2rem 0 0;
    > h3{
      margin-top: 1rem;
      width: 100%;
      margin-bottom: 0;
    }
  }
  .body-right-col{
    padding-left: 0;

  }
  .ul-relate{
    > li{
      .img{
        margin-bottom: 1.5rem;
        margin-right: 1.5rem;
      }
      .title{
        line-height: 1.4rem;
        margin-top: -4px;
      }
    }
  }
  .sidebar-left {
    .ul-sidebar{
      background: $white;
    }

  }
  .big-img-detail{
    margin-left: -1rem;
    margin-right: -1rem;
    width: auto;
    height: 20rem;
    margin-bottom: 0rem;
  }

  .search-by-tag {
    .full-header-inner{
      display: flex;
      flex-direction: column-reverse;
    }
    .body-two-col {
      > .container{
        display: block;
      }
    }
  }
  /**/
  .frm-make-question{
    padding-top: 2rem!important;
    pading-bottom: 2rem!important;;
    .frm-title,.frm-cta{
      padding: 0 2rem;
    }
    .frm-body{
      padding: 2rem 2rem 0;
      margin-bottom: 0;
    }
    .frm-cta{
      .btn{
        margin-right: 1.5rem;
        //min-width: 13rem!important;
        &:last-child{
          margin-right: 0;
        }
      }
    }
    .body-question-answerd{
      padding: 0 0 3rem;
    }
  }
  //
  .save-my-favorite {
    top: 0.7rem;
    right: 0.7rem;
    .hover-stt{
      display: none!important;
    }
  }
}

