﻿.my-account-history-buy{
  background: #f8f8f8;
  margin-bottom: 0;
}
.nav-general{
  border-bottom: none;
  display: flex;
  .nav-item{
    height: auto;
    width: 50%;
    margin: 0;
    border: none;
    .nav-link{
      height: 7.2rem;
      padding: 1.5rem 4rem;
      background-color: #f4f4f4;
      border: none;
      display: flex;
      align-items: center;
      font-size: 2rem;
      > span{
        display: block;
        &.name-tab{
          font-weight: bold;
          color: rgba(46,64,87,0.5);
        }
        &.description-tab{
          color: rgba(46,64,87,0.2);
        }
      }
      &.active{
        border: none;
        background-color: $white;
        > span{
          display: block;
          &.name-tab{
            font-weight: bold;
            color: rgba(46,64,87,1);
          }
          &.description-tab{
            color: rgba(46,64,87,0.4);
          }
        }
      }
    }
  }
}
.tab-ct-general{
  padding: 3rem;
  background: $white;
  border-radius: 0 8px 8px 0;
}
.order-stt{
  max-width: 20rem;
}
.mc-history-order{
  background: $white;
  padding: 2.6rem 3rem;
}
.tbl-history{
  thead{
    tr{
      th{
        background-color: $blue;
        color: $white;
        vertical-align: top;
        border: 0;
        padding: 1.7rem;
      }
    }
  }
  tbody{
    tr{
      td{
        padding: 1.7rem 2rem;
        border-top: none;
      }
      &:nth-child(2n){
        td{
          background-color: #f8f8f8;
        }
      }
    }
  }
}
.btn-detail-history{
  display: inline-flex;
}
.btn-grey{
  width: 92px;
  height: 30px;
  //opacity: 0.2;
  border-radius: 4px;
  background-color: rgba(216,216,216,0.2);
  border:none;
  img{
    display: inline-block;
    width: 1.9rem;
    margin-right: 9px;
  }
  span{
    letter-spacing: -0.41px;
    color: #4f5e70;
    font-weight: 400;
    font-size: 1.3rem;
  }
  &:hover,&:focus{
    background-color: rgba(216,216,216,0.2);
  }
}
.sep{
  width: 1px;
  height: 100%;
  display: inline-block;
  background: #979797;
  margin: 0 1.3rem;
  opacity: 0.2;
}
.history-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
  h3{
    font-size: 2rem;
    font-weight: bold;
  }
}
.historyModal{
  .modal-content{
    padding: 0 0 3rem;
  }
  .modal-header{
    padding: 2rem;
    justify-content: space-between;
    .modal-title{
      display: inline-block;
      width: auto;
    }
    .close-modal{
      top: 2rem;
      right: 1rem;
    }
  }
  .tbl-history thead tr th{
    padding-left: 2rem;
  }

}

@include media-breakpoint-down(md) {

}
@include media-breakpoint-down(sm) {
  .my-account-history-buy{
    padding-top: 0;
    padding-bottom: 0;
    .mc-order-detail{
      margin-left: -2rem;
      margin-right: -2rem;
    }
    .tab-ct-general{
      margin-bottom: 0;
    }

  }

  .tbl-history {
    margin-bottom: 0;

    tbody {
      tr {
          margin-bottom: 0;
        td{
          padding-left: 12rem;
        }
      }
    }
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      margin: 0 0 1rem 0;
    }

    tr:nth-child(even) {
      background: #f8f8f8;
    }

    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
    }

    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 1.5rem;
      left: 2rem;
      width: 12rem;
      max-width: 12rem;
      padding-right: 10px;
      white-space: nowrap;
      display: flex;
      align-items: center;
    }

    /*
    Label the data
You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
    */
    td:nth-of-type(1):before { content: "Tên thuốc"; }
    td:nth-of-type(2):before { content: "Ngày mua"; }
    td:nth-of-type(3):before { content: "Số lượng"; }
    td:nth-of-type(4):before { content: "Thông tin"; text-align: left;}
  }
  .nav-general {
    border-top: 1px solid #f4f4f4;
    .nav-item {
      .nav-link{
        padding: 1.5rem 2rem;
        font-size: 1.4rem;
      }
    }
  }
  .tab-ct-general{
    padding: 0 0;
  }
  .sep{
    margin: 0 0.3rem;
  }
  .tbl-history tbody tr td{
    padding-top: 1.5rem ;
    padding-bottom: 1.5rem ;
  }
  .historyModal{
    .tbl-history {
      td:nth-of-type(1):before { content: "Ngày mua"; }
      td:nth-of-type(2):before { content: "Đơn vị"; }
      td:nth-of-type(3):before { content: "Số lượng"; }
      td:nth-of-type(4):before { content: "Thông tin"; text-align: left;}
    }
  }
  .mc-history-order{
    margin: 2rem 0;
  }
}
