﻿.my-address-mc{
  margin-bottom: 3rem;
}
.my-ul-address{
  > li{
    width: 100%;
    padding-bottom: 2rem;
    border-bottom: 1px solid $gray-700;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
  }
}
.address-ct{
  padding-right: 2rem;
  width: 100%;
  flex-shrink: 1;
  p{
    margin-bottom: 1.5rem;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
.function-area{
  flex-shrink: 0;
  width: 16rem;
  text-align: right;
}
.my-address-mc{
  background: $white;
  padding: 3rem;
  border-radius: 8px;
}
.btn-delete, .btn-edit{
  font-weight: 400;

  span{
    width: 0;
    display: none;
    margin-right: 5px;
  }
  &:hover,&:focus{
    transform: scale(1);
    span{
      width: auto;
      transition: all ease-in-out 0.3s;
      display: inline-block;
      margin-right: 5px;
    }
  }
}
.btn.btn-delete{
  color: $red;
}
.set-default{
  color: rgba(46,48,146,0.5);
}
@include media-breakpoint-down(md) {

}
@include media-breakpoint-down(sm) {
  .my-address-mc{
    border-radius: 0;
    width: auto;
    margin: -2rem -2rem 2rem;
  }

}
