﻿.time-asked{
  color: rgba(46,64,87,0.5);
}
.my-question-mc{
  padding: 3rem;
  border-radius: 8px;
  background: $white;
  margin-bottom: 3rem;
  display: flex;
}
.empty-my-question{
  max-width: 56rem;
  text-align: center;
  margin: 0 auto;
  padding: 6rem 0;
  h4{
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  p{
    margin-bottom: 3rem;
  }
}
.ui-menu.ui-autocomplete {
  list-style-type: none;
  padding: 1rem 0;
  border-radius: 4px;
  box-shadow: 0 24px 22px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #e7e7e7;
  background-color: #ffffff;
  max-width: 39rem;
  > li{
    padding: 1rem;
    display: block;
  }
}

.ui-widget.div-autocomplete{
  position: relative;
  &:after{
    position: absolute;
    z-index: 1;
    top: 1.9rem;
    right: 1rem;
    border-width: .33em;
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
  }
}
@include media-breakpoint-down(md) {

}
@include media-breakpoint-down(sm) {
  .my-question-mc{
    padding: 2rem;
    margin: -2rem -2rem 3rem;
    border-radius: 0;
  }
  .panigation-nn{
    padding-bottom: 2rem;
  }
  .ui-menu.ui-autocomplete {
    max-width: 29.5rem;
  }

}
