﻿.step-create-order{
  position: relative;
  margin-top: 3rem;
  margin-bottom: 3rem;
  &:before{
    width: 100%;
    height: 1px;
    background-color: $gray-700;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    content: '';
  }
}
.ul-stepper{
  display: flex;
  > li{
    width: 33.33%;
    display: inline-flex;
    position: relative;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: rgba(46,64,87,0.4);
    padding: 0 4.1rem;
    height: 4.1rem;

    &:after{
      width: 4.1rem;
      height: 4.1rem;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: $white;
      font-weight: bold;
      font-size: 2rem;
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      background-color: #dbdbdb;
    }
    &:nth-child(1){
      &:after{
        content: '1';
      }
    }
    &:nth-child(2){
      &:after{
        content: '2';
      }
    }
    &:nth-child(3){
      &:after{
        content: '3';
      }
    }
    .step-name{
      padding-left: 2rem;
      margin-top: -6px;
    }
    &.active{
      &:before{
        width: 100%;
        height: 3px;
        background-color: $hight-light;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        content: '';
      }
      &:after{
        background-color: $hight-light;
        font-weight: 400;
      }
      .step-name{
        color: $blue;
        font-weight: bold;
      }
    }

  }
}
.login-body,.reg-body{
  background-color: $white;
  padding: 4rem 2rem;
  margin-bottom: 4rem;
  .main-ct-form{
    padding-bottom: 0;
  }
}
.order-login-cta{
  margin-bottom: 2rem;
  .btn{
    margin-right: 1rem;
    min-width: 15.7rem;
  }
}
.top-right-order{
  margin-bottom: 1.5rem;
  .btn-edit{
    float: right;
    display: inline-block;
    color: $hight-light;
  }
}
.before-payment-form{


  .ul-cart{
    height: auto;
    width: 100%;
    padding: 0!important;
    margin-bottom: 3rem;
  }
  .img-product-qc{
    width: 8.4rem;
    padding-right: 1.5rem;
  }
  .qty-quick-cart{
    width: auto;
    .product-money{
      font-size: 1.4rem;
      font-weight: 500;
    }
  }
}
.money{
  margin-bottom: 0;
}
.product-money,.money{
  span{
    //text-decoration: underline;
    font-size: inherit !important;
  }
}
.other-price{
  border-top: 1px solid $gray-700;
  padding: 2rem 0 0;
  .total-price{
    margin-bottom: 1rem;
  }
}
.code-reduce{
  color: #ff8686;
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: bold;
}
.fee-tranfer{
  flex-shrink: 0;
  width: 15rem;
  //padding-right: 1rem;
  text-align: right;
}
.nav-order-login{
  border-bottom: none;
  display: flex;
  .nav-item{
    height: auto;
    width: 50%;
    margin: 0;
    border: none;
    .nav-link{
      height: 7.2rem;
      padding: 1.5rem 4rem;
      background-color: #f4f4f4;
      border: none;
      > span{
        display: block;
        &.name-tab{
          font-weight: bold;
          color: rgba(46,64,87,0.5);
        }
        &.description-tab{
          color: rgba(46,64,87,0.2);
        }
      }
      &.active{
        border: none;
        background-color: $white;
        > span{
          display: block;
          &.name-tab{
            font-weight: bold;
            color: rgba(46,64,87,1);
          }
          &.description-tab{
            color: rgba(46,64,87,0.4);
          }
        }
      }
    }
  }
}
/**/
.info-buyer,.info-receiver{
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  background: $white;
  .title{
    color: $blue;
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }
  .form-control{
    //border: solid 1px #e7e7e7;
    //background-color: #f8f8f8;
  }
}
.group-radio{
  padding-left: 2.6rem;
  position: relative;
  input[type="radio"] {
    display:none;
  }
  input[type="radio"] + label span.cr {
    display:inline-block;
    width:18px;
    height:18px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    border-radius: 50%;
    border: 1px solid #2e3092;
    cursor:pointer;
    background: #f8f8f8;
    position: absolute;
    top: 3px;
    left: 0;
  }
  input[type="radio"]:checked + label span.cr {
    &:before{
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background: #2e3092;
      content: '';
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%,-50%);
    }
  }

}
.group-checkbox{
  padding-left: 2.6rem;
  position: relative;
  input[type="checkbox"] {
    display:none;
  }
  input[type="checkbox"] + label span.cr {
    display:inline-block;
    width:18px;
    height:18px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    border-radius: 2px;
    border: solid 1px #2f3191;
    cursor:pointer;
    background: $white;
    position: absolute;
    top: 3px;
    left: 0;
  }
  input[type="checkbox"]:checked + label span.cr {
    &:before{
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background: #2e3092;
      content: '';
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%,-50%);
    }
  }
}
.big-text{
  display: block;
}
.type-address{
  margin-bottom: 1.2rem;
  display: block;
  .group-radio{
    display: inline-block;
    margin-right: 2rem;
  }
}
.form-group-sub{
  display: flex;
  .form-control{
    flex-shrink: 1;
    width: 100%;
  }
  .btn{
    flex-shrink: 0;
    margin-left: 1.4rem;
    width: 15.7rem;
  }
}
.select-control{
  display: block;
  position: relative;
  &:after{
    position: absolute;
    z-index: 1;
    top: 1.9rem;
    right: 1rem;
    border-width: .33em;
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
  }
}
.code-success{
  display: inline-block;
  margin: 0;
}
.btn-status{
  justify-content: left;
  padding: 0;
}
.ul-address{
  > li{
    .group-radio{
      min-height: 8rem;
    }
  }
}
.ul-address,.ul-payment-method{
  > li{
    display: block;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $gray-700;
    &:last-child{
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
    .group-radio{
      padding-right: 8rem;
    }
  }
}

.title-payment{
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
.info-card{
  background: #f8f8f8;
  padding: 2rem;
}
.note-texts{
  color: #6b7888;
  opacity: 0.7;
}
.visa-number{
  width: 100%;
  position: relative;
  .form-control{
    width: 100%;
    padding-right: 5.7rem;
    border-radius: 4px 8px 8px 4px;
  }
  .img-visa{
    position: absolute;
    top: 0;
    right: 0;
    width: 5.7rem;
  }
}
.illustrated-card{
  padding-left: 2rem;
  padding-top: 2rem;
  margin: 0 auto;
  text-align: left;
  max-width: 100%;
  > img{
    margin-bottom: 2rem;
  }
}
.ship-info{
  position: absolute;
  top: 1rem;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.logo-shipper{
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.fee-ship{
  display: block;
  height: 3rem;
  border-radius: 8px;
  background: #f4f4f4;
  padding: 0 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.box-external{
  display: none;
  &.show-external-payment{
    display: block;
  }
}
.export-vat{
  display: none;
  &.show-external-vat{
    display: block;
  }
}
.title-thankyou{
  margin-bottom: 2rem;
  font-size: 2rem;
}
.group-info-order{
  padding-bottom: 2rem;
  border-bottom: 1px solid $gray-700;
  margin-bottom: 2rem;
  color: $gray-600;
  &:last-child{
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  h5{
    font-size: 1.4rem;
    color: $blue;
    margin-bottom: 1.5rem;
  }
  p{
    &:last-child{
      margin-bottom: 0;
    }
  }
}
.add-address{
  margin-bottom: 2rem;
  padding: 0 2rem;
  a{
    &.disabled{
      pointer-events: none;
      color: #b3b3b3;
    }
  }
}
/**/
.order-login{
  .ul-cart {
    margin-bottom: 0;
    li{
      padding-bottom: 0;
      .right-qc{
        border-bottom: none;
      }
      &.item-gift{
        padding-bottom: 2rem;
        padding-left: 10rem;
      }
      &.promotion-cart-item{
        .right-qc{
          border-bottom: 1px solid $gray-700;
        }
      }
      &:last-child{
        margin-bottom: 0;
      }
    }

  }
}
.promotion-code-slt{
  display: flex;
  justify-content: space-between;
  align-items: center;
  h4{
    margin-bottom: 0;
  }
}
.modal-promotion{
  .modal-dialog{
    max-width: 657px;
  }
  .modal-content{
    padding: 0 2rem 2rem 2rem;

  }
  .modal-header{
    padding: 2rem 0;
    .left-modal-header{
      h3{
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 0;
      }
    }
    .right-modal-header{
      img{
        width: 2.4rem;
        cursor: pointer;
      }
    }
  }
}
.input-code-promotion{
  padding: 0;
  display: flex;
  .form-control{
    width: 27.5rem;
  }
  .btn{
    margin-left: 1rem;
  }
}
.type-promotion{
  .nav-tabs{
    padding: 0;
    width: auto;
    display: block;
    margin-left: -2rem;
    margin-right: -2rem;
    > li{
      display: inline-block;
      margin-left: 2rem;
      a{
        opacity: 0.5;
        font-size: 14px;
        color: $blue;
        font-weight: bold;
        padding: 1.2rem 0;
        position: relative;
        display: inline-block;
        &.active{
          opacity: 1;
          &:after{
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 100%;
            height: 2px;
            background-color: #2e3092;
            content: '';
            z-index: 1;
          }
        }
      }

    }
  }
  .tab-pane{
    padding: 2rem 0 0;
  }
}
.ul-promotion-code{
  > li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    margin-bottom: 1rem;
    border: 1px solid #f6f6f6;
    .visual-code{
      width: 14.4rem;
      flex-shrink: 0;

    }
    .detail-code{
      padding: 0 1.6rem 0 1.6rem;
      flex-shrink: 1;
      width: 100%;
      position: relative;
      h4{
        font-size: 14px;
        font-weight: bold;
      }
      p{
        opacity: 0.9;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        color: #2e4057;
      }
      .note{
        font-size: 13px;
        opacity: 0.7;
        border-radius: 4px;
        border: solid 1px #ffb2b2;
        background-color: #fffdf2;
        padding: 0.8rem 1rem;
      }
    }
    .cta{
      flex-shrink: 0;
      width: 4rem;
      .group-radio{
        padding-left: 0;
        position: relative;
        width: 2.6rem;
        margin-left: 1rem;
      }
    }
  }
}
.tab-content__footer{
  border-top: 1px solid $gray-700;
  padding: 2rem 2rem 0;
  text-align: right;
  margin-top: 2rem;
  margin-left: -2rem;
  margin-right: -2rem;
}
.visual-code{
  padding: 10px 5px 10px 15px;
  background:#4381fb url('../images/loop_border.svg') repeat-y 0 0;
  background-size: 6px;
  margin-left: -2px;
  .img-icon{
    text-align: center;
    margin: 0 0 1rem;
    > img{
      margin: 0 auto;
      width: 2.4rem;
    }
  }
  .description{
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: $white;
  }
  .code{
    display: block;
    text-align: center;
    padding: 5px 12px;
    display: inline-block;
    border-radius: 2px;
    background-color: #ffffff;
    font-weight: bold;
  }
}
.nav-tabs.hide-desktop{
  display: none;
}
.modal-message-general{
  .modal-dialog.modal-lg{
    max-width: 495px;
  }
  .modal-content{
    padding: 0;
  }
  .modal-in{
    padding: 2rem 2rem 0;
    > p{
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .tab-content__footer{
    margin-left: 0rem;
    margin-right: 0rem;
    padding-bottom: 2rem;
    .btn{
      margin-left: 1rem;
    }
  }
}
@include media-breakpoint-down(md) {
  .cart-section{
    padding: 3rem 0;
  }
  .cart-info{
    padding: 0 1rem;

  }
  .step-create-order{
    .step-name{
      > span{
        display: none;
      }
    }
  }
  #tabOrderLogin{
    margin-bottom: 2rem;
  }
  .login-body{
    padding: 2rem;
    margin-bottom: 2rem ;
  }
  .nav-order-login {
    .nav-item {
      .nav-link{
        padding: 1.4rem 2rem;
      }
    }
  }
  .breadcrumb-group{
    padding-left: 1rem;
  }
}
@include media-breakpoint-down(sm) {

  .step-create-order{
    display: none;
  }
  .order-login{
    margin-top: 2rem;
    margin-left: -2rem;
    margin-right: -2rem;
    overflow: hidden;
  }
  .nav-order-login {
    .nav-item {
      .nav-link{
        padding: 1rem 2rem;
        span.description-tab{
          font-size: 1.2rem;
        }
      }
    }
  }
  .login-body,.reg-body{
    .other-link-login{
      padding-bottom: 2rem;
      .link-login{
        text-align: left;
        display: block;
        margin-bottom: 1rem;
      }
      > .btn-text{
        float: left!important;
      }
    }
  }
  .order-login-cta{
    padding: 0 2rem;
    .btn{
      min-width: 14rem;
      margin-top: 10px;
    }
  }
  .cart-section{
    margin-bottom: 0;
  }
  .illustrated-card{
    padding-left: 0;
  }
  //.order-login-cta{
  //  padding: 0;
  //}
  .type-promotion{
    .tab-content{
      margin-left: -1.5rem;
      margin-right: -1.5rem;
    }
    .tab-pane{
      padding: 0;
    }
  }
  .modal-promotion .modal-content{
    padding: 0 1.5rem 1.5rem 1.5rem;
  }
  .ul-promotion-code {
    > li{
      padding: 1.5rem;
      &:last-child{
        box-shadow: none;
      }
      .visual-code{
        padding: 10px 7px 10px 13px;
        width: 12.4rem;
        margin: 0 auto 1rem;
        .code{
          padding: 5px 5px;
        }
      }
      .detail-code{
        //padding-left: 0;
      }
      .cta{
        width: 2.6rem;
        .group-radio{
          margin-left: 0;
        }
      }
    }
  }

  .type-promotion {
    .nav-tabs{
      padding-top: 2rem;
      > li{
        margin-left: 1rem;
        &:first-child{
          margin-left: 1.5rem;
        }
      }
    }
  }
  .nav-tabs.hide-mobile{
    display: none;
  }
  .nav-tabs.hide-desktop{
    display: block;
  }
  .input-code-promotion .form-control{
    width: 16.5rem;
  }
  .tab-content__footer {
    margin-right: 0;
  }
}
