﻿/* list product by cate */
.panigation-nn{
  padding: 1rem 0 6rem;
}

.page-link{
  width: 3.6rem;
  height: 3.6rem;
  border: none;
  text-align: center;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: transparent;
}
.page-item{
  display: inline-block;
  margin: 0 1px;
  &.prev-nav,&.next-nav{
    .page-link{
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.05);
      background: $white;
      border-radius: 50%;
      &:hover,&:focus,&.active{
        color: #141b25;
        text-decoration: none;
        background-color: #e9ecef;
        border-color: #dee2e6;;
      }
    }
  }
  &:last-child,&:first-child{
    .page-link{
      border-radius: 50%;
    }
  }
}
@include media-breakpoint-down(md) {


}
@include media-breakpoint-down(sm) {


}
