﻿
.related-products{
  background: #f8f8f8;
  padding-top: 5rem;
  padding-bottom: 7rem;
  .heading-section{
    border-bottom: none;
    padding-bottom: 0;
  }
  .item-product {
    .inner-hot-product{
      padding-bottom: 2rem;
      background: $white;
      border-radius: 8px;
      .img-product{
        border-radius: 8px 8px 0 0;
      }
    }
  }
  .lead{
    min-height: 4.2rem;
  }
  .title,.lead,.product-money,.cta-item-product{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.up-detail-product{
  background: #f8f8f8;
  padding: 5rem 0;
}
.left-product{
  width: 100%;
  .in-left-product{
    width: 100%;
    padding-right: 31.5rem;
    margin-bottom: 2.5rem;
    display: flex;
  }
}
.big-img-product{
  width: 44.5rem;
  width: 47%;
  padding-right: 3rem;
}
.main-info-product{
  .big-img-product{
    display: none;
  }
  > h4{
    margin-bottom: 1.5rem;
  }
}
.short-info{
  margin-bottom: 5rem;
}
.ul-tag{
  display: block;
  > li{
    display: inline-block;
    padding: 0 1rem 0.5rem 0;
    a{
      padding: 4px 1rem;
      border-radius: 1.5rem;
      background: $white;
      color: $blue;
      &:hover{
        background: $gray-500;
        color: $impress-blue;
      }
    }
  }
  &.tag-gray-bg{
    > li{
      a{
        background: #f4f4f4;
        color: $blue;
      }
      &:hover{
        a{
          background: $gray-500;
          color: $impress-blue;
        }
      }
    }
  }
}
.p-download{
  a{
    background:  url('../images/download.svg') no-repeat left center;
    padding-left: 3rem;
    display: inline-flex;
    align-items: center;
    height: 2.5rem;
    &:hover{
      color: $impress-blue;
    }
  }
}
/**/
.bottom-detail-product{
  background: $white;
  padding: 5rem 0;
  .left-product {
    .in-left-product {
      display: block;
    }
  }
}
.title-product{
  font-size: 14px;
  font-weight: bold;
  color: $blue;
}
.group-info-product{
  width: 100%;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid $gray-700;
  h4.title{
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
    text-transform: uppercase;
  }
  > p:last-child{
    margin-bottom: 0;
  }
}
.section-detail-product {
  .expand-add-product-detail{
    .right-add-cart{
      background: $white;
      margin-top: 2rem;
      border-radius: 4px;
      padding: 2rem;
    }
  }

}
.section-detail-product{
  display: flex;
  background: #f8f8f8;

  .expand-detail-product{
    margin-right: -33.33%;
    width: auto;
  }
  .expand-add-product-detail{
    width: auto;
    margin-left: -300%;
    .right-add-cart{
      display: block;
      width: 25rem;
      margin: 0 0 0 auto;
      padding: 0;
      .right-sidebar{
        position: relative;
        width: 25rem;
        float: right;
        text-align: center;
        margin-top: 3rem;
        padding: 3rem 2rem;
        border-radius: 4px;
        box-shadow: 0 12px 10px 0 rgba(0, 0, 0, 0.05);
        background-color: #ffffff;
        margin-bottom: 1rem;
        &.right-promotion{
          margin-top: 0;
          padding: 0;
        }
        h2{
          text-align: left;
          display: flex;
          align-items: center;
        }
      }
      .right-sidebar{

      }

      .price{
        margin-bottom: 2rem;
        justify-content: center;
      }
      .inline-add-cart{
        max-width: 17rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3rem;
        button{
          width: 4rem;
        }
        .form-control, button{
          height: 4rem;
        }
      }
    }

  }

  .detail-product-in{
    width: 75%;
  }
  .add-product-detail{
    width: 25%;

  }
}
.add-product-detail{
  position: sticky;
  top: 0;
  width: 25.5rem;
  height: 30rem;

  .price{
    background: none;
    font-size: 4rem;
    color: $blue;
    padding: 0;
    font-weight:bold;
    sub{
      //font-size: 2rem;
      //text-decoration: underline;
    }
  }
  .add-to-cart{
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin: 0;
  }
  .btn-white{
    border-color: #ccc;
    height: 40px;
  }
  .cta-product{
    margin-bottom: 0;
    width: 100%;
    .btn{
      width: 100%;
    }
  }
}
.add-cart-desktop{
  display: block;
}
.add-cart-mobile{
  display: none;
}
.big-img-product{
  .slider-for {
    .slick-slide{
      height: auto!important;
    }
  }
  .slider-nav{
    .slick-slide{
      height: 6.4rem;
      width: 6.4rem;
      border-radius: 3px;
      margin-right: 1.2rem;
      border: 1px solid $white;
      overflow: hidden;
      img{
        width: 100%;
        border-radius: 3px;
      }
      &.slick-current{
        border-color: $blue;
      }
    }
  }
}
.main-info-product{
  .only-desktop{

  }
  .only-mobile{
    display: none;
  }
}
.view-more-detail{
  display: none;
}
.right-sidebar{
  .right-side-header{
    h2{
      > img{
        width: 1.6rem;
        margin-top: 0px;
      }
      span{
        margin-left: 8px;
        padding-top: 3px;
      }
    }
  }

}

@include media-breakpoint-down(md) {
  .left-product {
    padding-left: 1rem;
    padding-right: 1rem;
    .in-left-product{
      display: block;
      padding-right: 26rem;
      .big-img-product{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
      }
    }
  }
  .add-product-detail{

    .right-add-cart{
      margin-right: 1rem;
    }
  }
  .big-img-product{
    width: 100%;
  }
  .up-detail-product{
    padding: 3rem 0;
  }
}
@include media-breakpoint-down(sm) {
  .main-info-product{
    .only-desktop{
      display: none;
    }
    .only-mobile{
      display: block;
    }
  }
  .up-detail-product{
    padding: 2rem 0;
  }
  .left-product {
    .in-left-product {
      padding-right: 0;
      .big-img-product{
        width: 100%;
        padding-right: 0;
      }
    }
  }
  .section-detail-product {
    margin-bottom: 0;
    .add-product-detail{
      width: 100%;
      height: auto;
      margin-bottom: 2rem;
      position: static;
      .price{
        font-size: 3rem;
        display: block;
        text-align: center;
      }
    }
    .detail-product-in{
      width: 100%;
    }
    .expand-detail-product{
      margin-right: 0;
    }

  }
  .add-product-detail{
    height: auto;
    &.add-cart-mobile-promotion{
      position: relative;
      width: 100%;
      padding: 2rem;
      background: #f8f8f8;
      .right-add-cart{
        max-width: 100%;
        padding: 0 2rem;
      }
    }

  }
  .expand-add-product-detail{
    padding: 0;
    .container{
      padding: 0;
    }
    .right-add-cart{
      padding: 0!important;
      margin: 0;
    }
    .right-sidebar{
      padding: 2rem;
      margin: 0 0 2rem;
      background: $white;
      border-radius: 4px;
      .right-side-header{
        padding-top: 0;
        h2{
          padding: 0;
          > img{
            width: 1.6rem;
            margin-top: -4px;
          }
          span{
            margin-left :5px;
            padding-top: 3px;
          }
        }
      }

    }
  }
  .big-img-product {
    display: none;
  }
  .main-info-product {
    .big-img-product {
      display: block;
    }
  }
  .add-cart-desktop{
    display: none;
  }
  .add-cart-mobile{
    display: block;
  }
  .add-cart-mobile{
    .right-add-cart{
      margin-top: 0;
      //max-width: 16rem;
      margin-bottom: 2rem;
      .inline-add-cart{
        button{
          background-color: transparent;
          width: 25%;
        }
        .form-control{
          padding-left: 1%;
          padding-right: 1%;
          width: 48%;
        }
      }


    }
  }
  .section-detail-promotion{
    .up-detail-product{
      padding-top: 0;
      padding-bottom: 0;
    }
    .slider-nav{
      margin-top: 0.1rem;
    }
    .left-product{
      .in-left-product{
        .big-img-product{
          margin-left: -2.5rem;
          margin-right: -2rem;
          margin-bottom: 1rem;
          width: auto;
        }
      }

    }
    .short-info{
      margin-bottom: 0rem;
    }

    .p-download{
      margin-bottom: 2rem;
    }
    .bottom-detail-product{
      padding: 2rem 0 1rem;
    }
    .ul-tag,.p-download,.bottom-detail-product{
      display: none;
    }
    &.show{
      .ul-tag,.p-download,.bottom-detail-product{
        display: block;
      }
      .view-more-detail {
        padding-top: 0;
        background: $white;
      }

    }

  }
  .view-more-detail{
    margin-top: -1rem;
    padding: 0 2rem 2rem;
    display: block;
    a{
      color: $hight-light;
    }
  }

}
