﻿/* list product by cate */
.heading-section{
  border-bottom: 1px solid $gray-700;
  padding-bottom: 1.5rem;
  margin-bottom: 2.5rem;
}

.slider-product{
  .heading-section{
    display: flex;
    justify-content: space-between;
  }
  .heading-left{
    padding: 0;
    h3{
      font-size: 1.6rem;
      text-transform: uppercase;
      font-weight: bold;
      margin: 0;
      padding-right: 2rem;
    }
  }
  .heading-right{
    display: flex;
    align-items: flex-end;
    .link-view-more{
      color: $impress-blue;
    }
  }
}
.slider-block{
  min-width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  .slick-track{
    width: 100%!important;
    display: flex;
    justify-content: flex-start;
    .slick-slide{
      flex-shrink: 0;
      height: auto;
      display: flex !important;
    }
  }
  .slick-slide > div{
    display: flex;
    width: 100%;
  }
  .item-product {
    width: 100% !important;
  }

}
.item-product{
  display: block;
  padding: 0 1.5rem;
  .inner-hot-product{
    padding-bottom: 4rem;
    position: relative;
  }
  .title {
    margin-bottom: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.6rem;
  }
  .price{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
  }
}
.lbl-out-of-stock{
  min-height: 2.7rem;
  display: flex;
  align-items: center;
  color: $red;
}
.lbl-out-of-stock > a {
  color: $red;
}
.out-of-stock{
  .cta-item-product {
    .btn-default{
      background: #d8d8d8;
      border-color: #d8d8d8;
    }
  }
}

.btn-get-notification{
  border-radius: 4px;
  background-color: #ffffff;
  font-weight: 600;
  font-size: 1.3rem;
  color: rgba(46,64,67,0.7);
  border-color: $white;

  &:hover,&:focus{
    background-color: #ffffff;
    border-color: $white;
    color: rgba(46,64,67,0.7);
  }
}
@include media-breakpoint-down(md) {


}
@include media-breakpoint-down(sm) {
  .slider-product{
    padding: 0 5px;
    .heading-section{
      padding-bottom: 0;
      margin-bottom: 1rem;
    }
    .heading-left {
      h3{
        font-size: 1.6rem;
      }
    }
    .heading-right {
      .link-view-more{
        font-size: 1.2rem;
        margin-bottom: 21px;
      }
    }
  }
  .slider-block {
    margin-left: -0rem;
    margin-right: -0.5rem;
    .item-product {
      max-width: 22.4rem !important;
      padding: 0 7px;
    }
  }

}
form.cart-add {
  display: contents;
}
