﻿.wrap-cate-show-mobile{
  .search-h{
    min-width: 33rem;
  }
}
.flex-div-qa{
  display: flex;
  width: 100%;
  .list-cate-product{
    flex-shrink: 1;
    width: 100%;
  }
}
.time-post{
  font-size: 1.3rem;
}
.video-list{
  .img{
    position: relative;
    overflow: hidden;
    &:after{
      position: absolute;
      width: 100%;
      height: 100%;
      content: '';
      top: 0;
      left: 0;
      z-index: 1;
      //background:rgba(0,0,0,0.5) url("../images/icon-video.svg") no-repeat center center;
      border-radius: 6px;
      transition: background ease-in-out 0.3s;
    }
    &:hover{
      &:after{
        background-size: 40px 40px;
      }
    }
  }
  .breadcrumb-group{
    padding: 1.5rem 0;
    display: inline-block;
    width: auto ;
    a{
      color: #2e3092;
    }
  }
}
.qa-expert{
  .list-cate-product{
    padding-right: 2.5rem;
  }
  .nav-tabs{
    .nav-item{
      margin-bottom: -1px;
    }
    > li{
      margin: 0;
      width: 50%;
    }
  }
  .search-h{
    background: #f8f8f8;
    border: none;
    .form-control{
      background: #f8f8f8;
      border: none;
      font-weight: 400;
    }
    .btn-search{
      width: 1.6rem;
      height: 1.6rem;
    }
  }
}
.form-error{
  a{
    color: #1667d2;
  }
}
.qa-expert-cate{
  padding: 0 1rem;
  .body-right-col{
    padding-left: 0;
    padding-right: 3rem;
  }
}

@include media-breakpoint-down(md) {
  .flex-div-qa{
    display: block;
  }
  .video-list {
    .breadcrumb-group{
      padding: 5px 0;
    }
    .time-post{
      margin-bottom: 5px;
    }
  }

}
.qa-expert{
  .hide-mobile{
    &.heading-section{
      display: none;
    }
  }
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
  background-color: #fafafa;
  border-color: #dadada;
}
.select2-container--default .select2-selection--multiple{
  min-height: 4rem;
  border: 1px solid rgba(151, 151, 151, 0.4);
  &:focus{
    border-color: #5c7ea9;
  }
}
@include media-breakpoint-down(sm) {
  .video-list{
    .breadcrumb-group{
      padding: 0rem 0 0.5rem;
    }
    .time-post{
      margin-bottom: 0.5rem;
    }
  }
  .qa-expert{
    .nav-tab-line{
      margin-left: 0;
      margin-right: 0;
    }
    .list-cate-product{
      padding-left: 0;
      padding-right: 0;
    }
    .body-two-col {
      > .container{
        display: block;
      }
    }
    .full-header-inner {
      padding-top: 1.5rem;
      padding-bottom: 0;
      h3{
        font-size: 2.4rem;
      }
    }
    .ul-relate {
      > li {
        .title{
          margin-top: -2px;
        }
      }
    }
    .hide-mobile{
      &.heading-section{
        display: block;
      }
    }
  }
  .heading-section{}
  .heading-section{
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 1rem;
    .btn{
      &:hover{
        transform: scale(1);
      }
    }
  }

}
