﻿.wrap-content-hero{
  max-width: 47rem;
  width: 100%;
  color: $white;
}
.group-pice{
  margin-bottom: 3rem;
  &:last-child{
    margin-bottom: 0;
  }
}
.name-pice{
  font-weight: bold;
  text-transform: uppercase;
}

.ul-check{
  margin-bottom: 5px;
  list-style-type: none;
  > li{
    margin-bottom: 5px;
    position: relative;
    padding-left: 2.5rem;
    background: url("../images/icon-list-check.svg") no-repeat 0 8px;
    background-size: 0.8rem 0.5rem;

  }
}

.tbl-ship{
  &.table {
    .thead-dark {
      border-radius: 4px 4px 0 0;
      background-color: $blue;

    }
    th{
      &:nth-child(1){
        border-radius: 8px 0 0 0;
      }
      &:nth-child(2){
        border-radius: 0 8px 0 0;
      }

    }
    th, td{
      background-color: transparent;
      padding: 1.5rem 2rem;
      border-right: 1px solid rgba(255,255,255,0.2);
      border-top: none;
    }
    tr{
      &:nth-child(2n){
        td{
          background-color: $gray-500;
        }
      }
    }
  }
}
@include media-breakpoint-down(md) {

}
@include media-breakpoint-down(sm) {
  .tbl-ship{
    .table {
      th{
        width: 48%;
      }
    }
  }
}
