﻿.section-search{
  .heading-section{
    border-bottom: none;
    margin-bottom: 0;
  }
}
.title-search{
  margin: 4rem 0;
}
.nav-tab-line{
  border-bottom: 1px solid $gray-700;
  margin-bottom: 2rem;
  .nav-item{
    height: auto;
    .nav-link{
      font-size: 1.6rem;
      color: rgba(46,64,87,0.4);
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight: bold;
      border: none;
      min-width: 25.5rem;
      padding: 2rem 0;
      position: relative;
      border-bottom: 3px solid transparent;
      .hide-mobile{
        display: inline-block;
      }
      &.active{
        color: rgba(46,64,87,1);
        border-bottom: 3px solid $hight-light;
      }
    }
  }
}
/**/
.subTab-nav{
  &.nav{
    display: flex;
    border-bottom: none;
    border-top: 1px solid rgba(151, 151, 151, 0.3);
    margin-bottom: 3rem;
    .nav-item{
      margin: 0;
      width: 50%;
      height: auto;
      .nav-link{
        min-height: 6.25rem;
        display: flex;
        align-items: center;
        background: rgba(151, 151, 151, 0.3);
        border: 0;
        border-radius: 0;
        font-size: 1.6rem;
        text-transform: uppercase;
        padding: 2rem 3rem;
        color: rgba(46,64,87,0.4);
        font-weight: bold;
        &.active{
          color: $blue;
          background: $white;
        }
      }
    }
  }
}
.subTab-content{

}
.ul-list-text-question{
  > li{
    width: 100%;
    border-bottom: 1px solid $gray-700;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    &.active{
      .bottom-item{
        display: block;
      }
      .toggle-answer{
        font-size: 1.4rem;
        color: $hight-light;
        .hide{
          display: block;
        }
        .show{
          display: none;
        }
      }
    }
    &:last-child{
      margin-bottom: 0;
      border-bottom: none;
    }
  }
}
.up-item{
  margin-bottom: 0rem;
}
.bottom-item{
  margin-top: 2rem;
  display: none;
}
.question-bar{
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
}
.img-question{
  width: 3.2rem;
}
.toggle-answer{
  font-size: 1.4rem;
  color: #1667d2;
  span{
    color: #1667d2;
  }
  .hide{
    display: none;
  }
}
.question-title{
  font-weight: bold;
  margin-bottom: 1rem;
}

.video-search{
  .ul-relate{
    margin-bottom: 2rem;
    > li {
      .img{
        width: 20%;
      }
    }
  }
}
@include media-breakpoint-down(md) {
  .nav-tab-line{
    .nav-item{
      height: auto;
      .nav-link{
        min-width: 0rem;
        padding-right: 3rem;
        &.active{
        }
      }
    }
  }

  .section-search{
    padding: 0 1rem;
  }
  .ul-relate {
    > li {
      p{
        &:last-child{
          margin-bottom: 0;
          clear: both;
        }
      }
    }
  }
  .video-list-style{
    .ul-relate {
      margin-bottom: 1rem;
      > li {
        .img{
          width: 40%;
          margin-right: 2rem;
        }
        p{
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
@include media-breakpoint-down(sm) {
  .title-search{
    margin: 3rem 1rem 1rem;
  }
  .nav-tab-line{
    margin: 0 1rem 2rem;
    .nav-item{
      margin: 0;
      padding: 0;
      height: auto;
      .nav-link{
        min-width: 0rem;
        padding: 1rem 2rem 1rem 0;
        font-size: 1.5rem;
        .hide-mobile{
          display: none;
        }
      }
    }
  }
  .ul-list-text-question {
    width: 100%;
    > li {
      padding-bottom: 0.5rem;
      margin-bottom: 2rem;
      width: 100%;
    }
  }
  .video-list-style{
    .ul-relate {
      margin-bottom: 1rem;
      > li {
        .img{
          width: 100%;
          margin:0 0 1.5rem;
        }
        p{
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .section-search{
    padding: 0;
    .heading-section{
      margin-bottom: 2.5rem;
    }
  }
}
