﻿.tbl-order{
  letter-spacing: -0.44px;
  color: $blue;
  thead{
    tr{
      th{
        font-weight: bold;
        border-top: none;
        border-bottom: none;
        padding: 2rem 1rem 2rem 0;
      }
    }
  }
  tbody{
    tr{
      td{
        padding: 1.5rem 1rem 1.5rem 0;
      }
    }
  }

  // Responsive table
  /*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
  @media screen and (max-width: 767px) {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      margin: 0 0 1rem 0;
    }

    tr:nth-child(odd) {
      background: #f8f8f8;
    }

    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
    }

    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 1.5rem;
      left: 1rem;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }

    /*
    Label the data
You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
    */
    td:nth-of-type(1):before { content: "Mã đơn hàng"; }
    td:nth-of-type(2):before { content: "Ngày mua"; }
    td:nth-of-type(3):before { content: "Trạng thái"; }
    td:nth-of-type(4):before { content: "Tổng tiền"; }
  }
}
@include media-breakpoint-down(md) {

}
@include media-breakpoint-down(sm) {
  .my-order{
    padding: 2rem;
  }
  .tbl-order {
    tbody {
      tr {
        td{
          padding-left: 12rem;
        }
      }
    }

  }
}
